{% extends 'board_app/event.html' %}
{% load i18n %}

{% block content %}

<p> 

<a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'card_comment_app:list-comments' event.child.id %}" 
data-callback="$('#bigModal').modal('toggle');"
href="#"> Comment </a> 

added to 
<a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'card_app:view-data' event.child.id %}" 
data-callback="$('#bigModal').modal('toggle');"
href="#"> {{event.child.label}} </a> 

by

{{event.user}} on {{event.created}}</p>

{% endblock %}






