{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-ok"></span> Archive all cards?
</div>

<div class="modal-body">
<p class="text-info"> Cards with unfinished forks will not be archived.</p>

</div>

<div class="modal-footer">
<button  type="button" 
data-shell="#main-view" data-show="{% url 'card_app:archive-all' list.id %}"
class="btn btn-danger e-post"> 
     {% trans "Proceed" %}
</button>


<script>









