{% load bootstrap3 %}
{% load i18n %}

<script>

$('#CardFileWrapperForm-{{card.id}}').change(function(){
   var formData = new FormData($('#CardFileWrapperForm-{{card.id}}')[0]);

   $.ajax({
   url: '{% url 'card_app:attach-file' card.id  %}', 
   type: 'POST',
   success: function(data) {
   $('#card-attachments-{{card.id}}').html(data);},
   data: formData,
   cache: false,
   contentType: false,
   processData: false});
});

</script>

<form id="CardFileWrapperForm-{{card.id}}" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.file  size='md' %}
</form>

{% for ind in attachments %}
<a class="e-get text-danger" data-shell="#card-attachments-{{card.id}}" href="#"
data-show="{% url 'card_app:detach-file' ind.id %}"> 
<span class="glyphicon glyphicon-remove"></span></a> 
<a href="{{ind.file.url}}" target="_blank"> {{ind.file.name}} </a>

{% empty %}
No attachments.
{% endfor %}







