{% load i18n %}


<div class="pull-right dropdown">

<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<span class="glyphicon glyphicon-wrench"></span>  </a>

<ul class="dropdown-menu" role="menu">

<li><a class="e-get" data-shell="#smallModalContent"  data-show="{% url 'list_app:update-list' list.id %}" href="#"> 
<span class="glyphicon glyphicon-cog"></span> 
{% trans "Settings" %}</a></li>

<li class="divider"></li>

<li><a class="e-get"  data-show="{% url 'list_app:confirm-list-deletion' list.id %}" data-shell="#smallModalContent"
href="#"> <span class="glyphicon glyphicon-remove"></span>  {% trans "Delete" %}</a></li>

<li class="divider"></li>

<li><a class="e-get" data-shell="#mediumModalContent"  data-show="{% url 'list_app:select-destin-list' list.id %}" 
href="#"> <span class="glyphicon glyphicon-paste"></span>  {% trans "Paste" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#main-view"  data-show="{% url 'list_app:paste-all-cards' list.id %}" 
href="#"> <span class="glyphicon glyphicon-paste"></span>  {% trans "Paste All" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#smallModalContent"  data-show="{% url 'card_app:archive-all' list.id %}" 
href="#"> <span class="glyphicon glyphicon-paste"></span>  {% trans "Archive All" %}</a></li>

</ul>
</div>


