{% load i18n %}

<div class="panel panel-default card-ancestor"  >
<div class="panel-body text-center">
<p> <em> 
<b>
<span class="glyphicon glyphicon-list-alt"></span> List </em> 
{{list.ancestor.name}} <span class="glyphicon glyphicon-arrow-right"></span> {{list.name}} 
</b>
<span class="badge">{{cards.count}}/{{total}}</span>
<br>
<span class="text-info"> {{list.description}} </span>

</p>


<div class="btn-group btn-group-xs">
<!-- If the card has no ancestor then it is on clipboard -->

{% if list.ancestor %}
<button class="btn btn-success e-get" 
data-shell="#main-view" type="button"
data-show="{% url 'list_app:list-lists' board.id %}">
<span class="glyphicon glyphicon-arrow-up"></span> Up
</button>
{% else %}
<button class="btn btn-success disabled" type="button"
<span class="glyphicon glyphicon-arrow-up"></span> Up
</button>

{% endif %}


<button class="btn btn-warning b-modal" type="button" 
data-show="{% url 'card_app:create-card' list.id %}">
<span class="glyphicon glyphicon-plus"></span>  {% trans "Card" %}
</button>

<button class="btn btn-default s-modal" type="button" 
data-show="{% url 'card_app:setup-card-filter' list.id %}" >

{% if filter.status %}
<span class="glyphicon glyphicon-filter"></span> 
Filter
{% else %}
<strike> 
<span class="glyphicon glyphicon-filter"></span> 
Filter </strike>

{% endif %}

</button>

{% include 'list_app/list-menu.html' %}

</div>

</div>
</div>




















