{% load i18n %}

<div class="panel panel-default {% if card.fork %} fork {% else %} card {% endif %}" >

<div class="panel-body text-center" >

<div class="pull-right" >
<a class=" e-get text-warning"  href="#" 
data-shell="#pins"  data-show="{% url 'card_app:pin-card' card.id %}">
<span class="glyphicon glyphicon-paperclip"></span> </a>
</div>

<div style="word-wrap: break-word;"> 

<a href="#"  class="e-get
{% if card.in_workers %}
text-danger 
{% elif card.has_workers %}
text-success 
{% endif %}"

data-shell="#main-view"  type="button"
data-show="{% url 'card_app:view-data' card.id %}" >

{% if card.done %}
(Done)

{% endif %}
<em>
<span class="glyphicon glyphicon-file"></span> 
{% if card.fork %} Fork {% else %} Card {% endif %}
</em>
{{card.label}}

</a> 

</div> 

<br>


{% include 'card_app/card-common-actions.html' %}
</div>


</div>

















