{% load i18n %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>   <span class="glyphicon glyphicon-bell"></span>
Events on card <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} 
<span class="badge">{{count}}</span></h5>
</div>

<div class="modal-body pre-scrollable">

{% for ind in elems %}
<div class="panel panel-default">
<div class="panel-body">

{{ind.html | safe}}
</div>
</div>

{% endfor %}


</div>


<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<script>

$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>









