{% load i18n %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>  

<span class="glyphicon glyphicon-bell"></span>
Events on card

<a href="{{card.get_link_url}}" data-shell="#bigModalContent" data-show="{% url 'card_app:view-data' card.id %}"
class="e-get">  <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} </a>

<span class="badge">{{count}}</span></h5>
</div>

<div class="modal-body">
<div class="container-fluid">

<div class="pre-scrollable">
{% for ind in elems %}

<p> {{ind.html | safe}} </p>

{% endfor %}
</div>

</div>


</div>

</div>

<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<script>

$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>






