{% load i18n %}

<div class="panel panel-default {% if card.parent %} fork {% else %} card {% endif %}" >

<div class="panel-body text-center" >

<div class="pull-right" >
<a class=" e-get text-default"  href="#" 
data-shell="#pins"  data-show="{% url 'card_app:pin-card' card.id %}">
<span class="glyphicon glyphicon-paperclip"></span> </a>
</div>

<div class="pull-left"> 
<a class=" e-get text-default"  href="#" 
data-shell="#main-view" data-show="{% url 'card_app:copy-card' card.id %}">
<span class="glyphicon glyphicon-copy"></span></a> 

<a class=" e-get text-warning"  href="#" 
data-shell="#main-view" data-show="{% url 'card_app:cut-card' card.id %}">
<span class="glyphicon glyphicon-scissors"></span> </a> 

</div>


<p> <a href="#"  class="e-get {% if card.in_workers %} text-danger  {% elif card.has_workers %} text-success  {% endif %}"
data-shell="#main-view" data-show="{% url 'card_app:view-data' card.id %}" >

{% if card.done %} (Done) {% endif %}
<em> <span class="glyphicon glyphicon-file"></span> 
{% if card.parent %} Fork {% else %} Card {% endif %} </em> 

{{card.label}} </a> 
</p>


<button class="btn btn-xs btn-info b-modal" type="button"
data-show="{% url 'note_app:list-notes' card.id %}" >
<span class="glyphicon glyphicon-comment"></span> 
{% trans "Notes" %}</button>

</div>


</div>


