{% load i18n %}

<div class="panel panel-default {% if card.parent or card.parent_post %} fork {% else %} card {% endif %}" >
<div class="panel-body text-center" >

<div class="pull-right" >
<a class=" e-get text-default"  href="#" 
data-shell="#pins"  data-show="{% url 'card_app:pin-card' card.id %}">
<span class="glyphicon glyphicon-paperclip"></span> </a>
</div>

<div class="pull-left"> 
<a class=" e-get text-default"  href="#" 
data-shell="#main-view" data-show="{% url 'card_app:copy-card' card.id %}">
<span class="glyphicon glyphicon-copy"></span></a> 

<a class=" e-get text-warning"  href="#" 
data-shell="#main-view" data-show="{% url 'card_app:cut-card' card.id %}">
<span class="glyphicon glyphicon-scissors"></span> </a> 

</div>


<p> <a href="{% url 'card_app:card-link' card.id %}"  class="e-get {% if card.in_workers %} text-danger  {% elif card.has_workers %} text-success  {% endif %}"
data-shell="#bigModalContent" data-show="{% url 'card_app:view-data' card.id %}" >

{% if card.done %} (Done) {% endif %}
<em> <span class="glyphicon glyphicon-file"></span> 
{% if card.parent or card.parent_post %} Fork {% else %} Card {% endif %} </em> 

{{card.label}} </a> 
</p>

<small>

<div class="pull-right" >
<a  data-shell="#bigModalContent" class="e-get text-default"  href="#" data-show="{% url 'card_app:card-priority' card.id %}">
<span class="glyphicon glyphicon-signal"></span> </a>
</div>

<a href="#" data-toggle="popover" data-trigger="hover" title="{{card.owner.email}}"  data-content="{{card.owner.description}}">
{{card.owner.name}} </a> on <a href="{{card.get_link_url}}" target="_blank"> {{card.created}} </small> </a>

</div>


</div>











