{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span> Possible parents of card: {{card.label|truncatechars:60}} 
<span class="badge">{{count}}/{{total}}</span> </h5>
</div>

<div class="modal-body">
<div class="pre-scrollable">

{% if card.parent %}
<p> <a href="{{card.get_link_url}}" target="_blank"> 
<span class="glyphicon glyphicon-file"></span> {{card.parent.label}}</a> 
<br>

<small> On
<span class="glyphicon glyphicon-list-alt"></span> {{card.parent.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{card.parent.ancestor.name}}</small>
<br>

<small>
<a class="e-get text-danger"  data-shell="#bigModalContent"  
data-show="{% url 'card_app:unset-card-parent' card.id %}" href="{{card.get_link_url}}">  
<span class="glyphicon glyphicon-remove"></span> Disconnect</a> 
</small> </p>

{% endif %}

{% for ind in cards %}
<p>  <a href="{{ind.get_link_url}}" target="_blank"> 
<span class="glyphicon glyphicon-file"></span>
{{ind.label}}</a> 
<br>

<small> On
<span class="glyphicon glyphicon-list-alt"></span> {{ind.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{ind.ancestor.name}}</small>
<br>

<small>
<a class="e-get text-danger"  data-shell="#bigModalContent"  
data-show="{% url 'card_app:set-card-parent' card.id ind.id %}" href="{{ind.get_link_url}}">  
<span class="glyphicon glyphicon-ok"></span> Connect</a> 
</small> </p>
{% endfor %}

</div> <br>
<form id="cardPriorityForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">

<button  type="button" data-shell="#smallModalContent" 
data-show="{% url 'card_app:select-fork-list' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#cardPriorityForm" 
id="filterCardRelations" data-show="{% url 'card_app:connect-card' card.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

</div>










