{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>Possible post parents of card: {{card.parent_post.label|truncatechars:60}} 
<span class="badge">{{count}}/{{total}}</span> </h5>
</div>

<div class="modal-body">
<div class="pre-scrollable">
{% if card.parent_post %}
<p> <span class="glyphicon glyphicon-file"></span>

<a href="{{card.get_link_url}}" target="_blank"> {{card.parent_post.label}}</a> 
<br>
<small> On
<span class="glyphicon glyphicon-eye-open"></span> 
{{card.parent_post.ancestor.name}}</small>
<br>

<small>
<a class="e-get text-danger"  data-shell="#bigModalContent"  
data-show="{% url 'card_app:unset-post-fork' card.id %}" href="{{card.get_link_url}}">  
<span class="glyphicon glyphicon-remove"></span> Disconnect</a> 
</small> </p>

{% endif %}

{% for ind in posts %}
<p> <span class="glyphicon glyphicon-file"></span>
<a href="{{ind.get_link_url}}" target="_blank"> {{ind.label}}</a> 
<br>
<small> On
<span class="glyphicon glyphicon-eye-open"></span> 
{{ind.ancestor.name}}</small>
<br>

<small>
<a class="e-get text-danger"  data-shell="#bigModalContent"  
data-show="{% url 'card_app:set-post-fork' card.id ind.id %}" href="{{ind.get_link_url}}">  
<span class="glyphicon glyphicon-ok"></span> Connect</a> 
</small>

</p>
{% endfor %}

</div> <br>
<form id="postPriorityForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">

<button  type="button" data-shell="#smallModalContent" 
data-show="{% url 'card_app:select-fork-list' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#postPriorityForm" 
id="filterpostRelations" data-show="{% url 'card_app:connect-post' card.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

</div>










