
{% extends "card_app/create-card.html" %}
{% load i18n %}

{% block buttons %}
<button  type="button" data-form="#form-card-data" 
data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'card_app:cancel-card-creation' fork.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" 
data-form="#form-card-data" 
data-shell="#main-view" 
data-callback="$('#bigModal').modal('toggle');" 
data-shell-error="#bigModalContent" 
data-show="{% url 'card_app:create-fork' card.id fork.id %}"
class="btn btn-default e-post"> 
{% trans "Fork" %}
</button>

<script>

/*
$('#bigModal').one('hidden.bs.modal', function () {
    var formData = new FormData($('#form-card-data')[0]);

    $.ajax({
    url: "{% url 'card_app:create-card' card.id fork.id %}",  //Server script to process data
    type: 'POST',
    data: formData,
    cache: false,
    success: function(data) {
        $('#main-view').load('{% url 'card_app:view-data' fork.id  %}');

    },

    contentType: false,
    processData: false
    });

})
*/

$('#bigModal').one('hidden.bs.modal', function () {
    $.ajax({
    url: "{% url 'card_app:cancel-card-creation' fork.id  %}",
    type: 'GET',
    contentType: false,
    processData: false

    });

})
</script>


{% endblock %}




