
{% extends "card_app/create-card.html" %}
{% load i18n %}

{% block buttons %}
<div class="pull-left">
<a  data-shell="bigModalContent"  class="e-get" href="#" data-show="{% url 'card_app:pull-card-content' ancestor.id card.id %}"> 
<span class="glyphicon glyphicon-download"></span> 

Keep old content? </a>
</div>

<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  type="button" data-form="#form-card-data" data-shell="#main-view" id="createFork"
data-show="{% url 'card_app:create-fork' ancestor.id card.id  %}"
class="btn btn-default e-post"> 
{% trans "Fork" %}
</button>

{% endblock %}













