
{% extends "post_app/create-post.html" %}
{% load i18n %}

{% block buttons %}
<div class="pull-left">
<a  data-shell="#bigModalContent"  class="e-get" href="#" data-show="{% url 'card_app:pull-post-content' card.id post.id %}"> 
<span class="glyphicon glyphicon-download"></span> 

Keep old content? </a>
</div>

<button  type="button" data-form="#form-post-data" 
data-show="{% url 'post_app:cancel-post-creation' post.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#form-post-data" 
data-shell="#main-view" data-show="{% url 'card_app:create-post-fork' ancestor.id card.id post.id %}"
class="btn btn-default e-post"> 
{% trans "Fork" %}
</button>

<script>

</script>


{% endblock %}















