{% load bootstrap3 %}
{% load i18n %}

<form id="form-card-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% bootstrap_field form.label  size='md' %}
</div>

<div class="modal-body">
{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}


</form>
</div>

<div class="modal-footer">
{% block buttons %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  id="createCard" type="button" data-form="#form-card-data" 
data-shell="#main-view"  data-show="{% url 'card_app:create-card' ancestor.id %}"
class="btn btn-default m-post-close"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>











