
{% extends "card_app/create-card.html" %}
{% load i18n %}

{% block buttons %}
<div class="pull-left">
<a class="b-modal" href="#" data-show="{% url 'card_app:pull-card-content' card.id fork.id %}"> 
<span class="glyphicon glyphicon-download"></span> 

Keep old content? </a>
</div>

<button  type="button" data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'card_app:cancel-card-creation' fork.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#form-card-data" data-shell="#main-view" id="createFork"
data-show="{% url 'card_app:create-fork' ancestor.id card.id fork.id %}"
class="btn btn-default m-post-close"> 
{% trans "Fork" %}
</button>

{% endblock %}










