{% load bootstrap3 %}
{% load i18n %}

<form id="cardForm" enctype="multipart/form-data" autocomplete="off">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% bootstrap_field form.label  size='md' %}
</div>

<div class="modal-body">
{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}


</form>
</div>

<div class="modal-footer">
{% block buttons %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  type="button" data-form="#cardForm" data-callback="$('#main-view').load('{% url 'card_app:list-cards' ancestor.id %}');"
data-shell="#bigModalContent"  data-show="{% url 'card_app:create-card' ancestor.id %}"
class="btn btn-default e-post"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>















