{% load bootstrap3 %}
{% load i18n %}

<form id="form-card-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% bootstrap_field form.label  size='md' %}
</div>

<div class="modal-body">
{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

<div id="div-attachments">
</div>
<script>
$('#div-attachments').load('{% url 'card_app:attach-file' card.id %}');
</script>


</div>
</form>


<div class="modal-footer">
{% block buttons %}
<button  type="button" data-form="#form-card-data" 
data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'card_app:cancel-card-creation' card.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  id="createCard" type="button" data-form="#form-card-data" 
data-shell="#main-view"  data-show="{% url 'card_app:create-card' ancestor.id card.id %}"
class="btn btn-default m-post-close"> 
     {% trans "Create" %}
</button>


<script>
$('#form-card-data').on('submit', (function(e){
    e.preventDefault();
        $('#createCard').click();

}));
</script>


<script>

/*
$('#bigModal').one('hidden.bs.modal', function () {
    var formData = new FormData($('#form-card-data')[0]);

    $.ajax({
    url: "{% url 'card_app:create-card' ancestor.id card.id %}",  //Server script to process data
    type: 'POST',
    data: formData,
    cache: false,
    success: function(data) {
        $('#main-view').load('{% url 'card_app:list-cards' ancestor.id  %}');

    },

    contentType: false,
    processData: false
    });

})
*/


</script>

{% endblock %}
</div>







