{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
Cards

{% for ind in event.cards.all %}
<a class="e-get" data-shell="#bigModalContent" data-show="{% url 'card_app:view-data' ind.id %}" href="{{ind.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> {{ind.label|truncatechars:40}} </a> 
{% endfor %} were archived on list

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.ancestor.id %}" href="{{event.ancestor.get_link_url}}"> 
<span class="glyphicon glyphicon-list-alt"></span> {{event.ancestor.name}} </a>  

{% endblock %}






