{% extends 'group_app/event.html' %}
{% load i18n %}


{% block content %}
User <a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="{{event.user.description}}">
<span class="glyphicon glyphicon-user"></span> 
{{event.peer.name}}  </a> was binded to card

<a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'card_app:view-data' event.card.id %}" href="{{event.card.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> {{event.card.label|truncatechars:40}} </a> 

{% endblock %}




