{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has deleted card

<span style="color:red"> <span class="glyphicon glyphicon-file"></span> {{event.label}} </span>

on list

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.ancestor.id %}" href="#"> 
<span class="glyphicon glyphicon-list-alt"></span> 
{{event.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>

{{event.ancestor.name}} </a>  

on {{event.created}}

{% endblock %}













