{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<span class="glyphicon glyphicon-user"></span>
{{event.user}} has deleted card

<span style="color:red"> <span class="glyphicon glyphicon-file"></span> {{event.label}} </span>

on list

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.ancestor.id %}" href="#"> 
<span class="glyphicon glyphicon-list-alt"></span> {{event.ancestor.name}} </a>  

on {{event.created}}

{% endblock %}










