{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}">

<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> has related card

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:view-data' event.card0.id %}" 
href="{{event.card0.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>

{{event.card0.label|truncatechars:40}} </a> 

to card

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:view-data' event.card1.id %}" 
href="{{event.card1.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.card1|truncatechars:40}}
</a>

at {{event.created}}
{% endblock %}















