{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

<span class="glyphicon glyphicon-user"></span>
{{event.user.name}} has untagged card

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:view-data' event.card.id %}" href="#"> 
<span class="glyphicon glyphicon-file"></span>
{{event.card.label|truncatechars:40}} </a>  

as {{event.tag.name}} on list 
<span class="glyphicon glyphicon-list-alt"></span> 

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.ancestor.id %}" href="#"> 
{{event.ancestor.name}}
</a>  

at {{event.created}}

{% endblock %}













