{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
Card <a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'card_app:view-data' event.card.id %}" 
href="{{event.card.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> {{event.card.label|truncatechars:40}} </a> 
was updated on list

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.ancestor.id %}" href="{{event.ancestor.get_link_url}}"> 
<span class="glyphicon glyphicon-list-alt"></span>
{{event.ancestor.name}} </a> 

{% endblock %}




