{% load i18n %}
{% load listutils %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  
<span class="glyphicon glyphicon-tasks"></span> 
Tasks/Cards <span class="badge">{{count}}/{{total}}</span></h4>
</div>

<div class="modal-body">
{{ elems | safe}}

<br>
<form id="task-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}

<ul class="nav nav-pills nav-justified">
  <li>{% bootstrap_field form.assigned_to_me  size='md' %}</li>
  <li>{% bootstrap_field form.created_by_me  size='md' %}</li>
  <li>{% bootstrap_field form.done  size='md' %}</li>
</ul>




{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">

<button  type="button" data-form="#task-search-form" href="#" data-show="{% url 'card_app:list-all-tasks'  %}" 
class="btn btn-default e-post"> {% trans "Filter" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>



