{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in included %}
<tr id="unbind-card-worker-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>
<a class="e-get" style="color:red"
data-callback="$('#unbind-card-worker-{{ind.id}}').remove();"
data-show="{% url 'card_app:unbind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Unbind</a>  </td>
</tr>
{% endfor %}

{% for ind in excluded %}
<tr id="bind-card-worker-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>
<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

<a class="e-get"
data-callback="$('#bind-card-worker-{{ind.id}}').remove();"
data-show="{% url 'card_app:bind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> bind </a> 
</td>
{% endfor %}

</table>
</div>

<br> 

<form id="bind-card-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.name  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
