{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{card.label|truncatechars:20}} Workers 
<span class="badge">{{count}}/{{total}}</span>
</h5>
</div>

<div class="modal-body">

{% include 'card_app/manage-card-workers-list-options.html' %}
</div>

<div class="modal-footer">
<button  type="button" data-form="#bind-card-search-form" 
data-shell="#modalContent" 
data-shell-error="#modalContent" data-show="{% url 'card_app:manage-card-workers' card.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<script>
$('#modal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'card_app:view-data' card.id  %}');
})
</script>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>







