{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Tags on card <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} 
<span class="badge">{{count}}/{{total}}</span>

</h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">

{% for ind in included %}
<p> <a class="r-post" data-form="#tagSearchForm" style="color:red" data-show="{% url 'card_app:unbind-card-tag' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a>  
<b> {{ind.name}} </b>
{{ind.description}} 
</p>
{% endfor %}

{% for ind in excluded %}
<p>
<a class="r-post" data-form="#tagSearchForm"
data-show="{% url 'card_app:bind-card-tag' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a>  <b> {{ind.name}}</b>
 {{ind.description}} 
</p>
{% endfor %}

</div>

<br> 

<form id="tagSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md'  %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#tagSearchForm"  
data-show="{% url 'card_app:manage-card-tags' card.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

</div>














