{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Workers on card <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} 
<span class="badge">{{count}}/{{total}}</span>

</h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in included %}
<p class="text-center " >
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>   

<br>

<a class="r-post" style="color:red; font-size:70%" data-form="#userSearchForm"
data-show="{% url 'card_app:unbind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Unbind</a>  

</p>

{% endfor %}

{% for ind in excluded %}
<p class="text-center">
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>  
<br>

<a class="r-post" style="color:green;font-size:70%" data-form="#userSearchForm"
data-show="{% url 'card_app:bind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> bind </a> 

</p>
{% endfor %}
</div>

<br>

<form id="userSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#userSearchForm" 
data-show="{% url 'card_app:manage-card-workers' card.id  %}"
class="btn btn-default e-post"> {% trans "Filter" %} </button>

</div>







