{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{card.label|truncatechars:20}}'s Workers 
<span class="badge">{{count}}/{{total}}</span>
</h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in included %}
<p class="text-center" id="user-choice-{{ind.id}}">
<img class="img-responsive center-block"  width="50" height="50"  src="{{ind.avatar.url}}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>   <br>
<b style="font-size:60%"> All card/tasks: {{ind.tasks.count}}
</b>

<br>

<a class="e-get" style="color:red; font-size:70%"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'card_app:unbind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Unbind</a>  

</p>

{% endfor %}

{% for ind in excluded %}
<p class="text-center" id="user-choice-{{ind.id}}">
<img class="img-responsive center-block"  width="50" height="50"  src="{{ind.avatar.url}}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>  
<br>
<b style="font-size:60%">All card/tasks: {{ind.tasks.count}}</b>
<br>

<a class="e-get" style="color:green;font-size:70%"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'card_app:bind-card-worker' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> bind </a> 

</p>
{% endfor %}
</div>

<br>

<form id="bind-card-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
<button  type="button" data-form="#bind-card-search-form" id="filterCardWorkers"
data-show="{% url 'card_app:manage-card-workers' card.id  %}"
class="btn btn-default m-post"> {% trans "Filter" %} </button>

<script>
$('#modal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'card_app:view-data' card.id  %}');
})
</script>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>



<script>
$('#bind-card-search-form').on('submit', (function(e){
    e.preventDefault();
        $('#filterCardWorkers').click();

}));
</script>







