{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h6>
<span class="glyphicon glyphicon-search"></span>
Available {{card.label|truncatechars:15}} card's relations 
<span class="badge">{{count}}/{{total}}</span>

</h6>
</div>

<div class="modal-body">

<div class="pre-scrollable">

{% for ind in included %}
<p id="unrelate-card{{ind.id}}">
<a class="e-get" style="color:red"
data-callback="$('#unrelate-card{{ind.id}}').remove();"
data-show="{% url 'card_app:unrelate-card' card.id ind.id %}" href="{{ind.get_link_url}}"> 
<span class="glyphicon glyphicon-remove"></span></a> 

<a href="{{ind.get_link_url}}" target="_blank">
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</a>
<br>
<small> On
<span class="glyphicon glyphicon-list-alt"></span> {{ind.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{ind.ancestor.name}}</small>

</p>
{% endfor %}

{% for ind in excluded %}
<p id="relate-card{{ind.id}}">
<a class="e-get" 
data-callback="$('#relate-card{{ind.id}}').remove();"
data-show="{% url 'card_app:relate-card' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span></a> 

<a href="{{ind.get_link_url}}" target="_blank">
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</a>
<br>
<small> On
<span class="glyphicon glyphicon-list-alt"></span> {{ind.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{ind.ancestor.name}}</small>

</p>

{% endfor %}

</div>
<br> 



<form id="relate-card-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_field form.done  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'card_app:view-data' card.id  %}');
})
</script>

<button  type="button" data-form="#relate-card-search-form" 
id="filterCardRelations" data-show="{% url 'card_app:manage-card-relations' card.id  %}"
class="btn btn-default m-post"> {% trans "Search" %} </button>

<script>
$('#modal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'card_app:view-data' card.id  %}');
})
</script>

<button type="button" class="btn btn-default" 
data-dismiss="modal">Close</button>

</div>

<script>
$('#relate-card-search-form').on('submit', (function(e){
    e.preventDefault();
        $('#filterCardRelations').click();

}));
</script>








