{% load bootstrap3 %}
{% load i18n %}

<div class="pre-scrollable">

{% for ind in included %}
<p id="unrelate-card{{ind.id}}">
<a class="e-get" style="color:red"
data-callback="$('#unrelate-card{{ind.id}}').remove();"
data-show="{% url 'card_app:unrelate-card' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span></a> 
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</p>
{% endfor %}

{% for ind in excluded %}
<p id="relate-card{{ind.id}}">
<a class="e-get" 
data-callback="$('#relate-card{{ind.id}}').remove();"
data-show="{% url 'card_app:relate-card' card.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span></a> 
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</p>

{% endfor %}

</div>
<br> 





