{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h5>  <span class="glyphicon glyphicon-random"></span> Fork card <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} on list.. </h5>

</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in elems %}
<p> <a class="e-get"  data-shell="#bigModalContent"  data-show="{% url 'card_app:create-fork' ind.id card.id %}" href="{{ind.get_link_url}}" > 
<span class="glyphicon glyphicon-list-alt"></span> {{ind.ancestor.name}} <span class="glyphicon glyphicon-arrow-right"></span>
{{ind.name}} </a>  </p>

{% endfor %}

</div>

<hr>
<form id="selectForkListForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}


{% bootstrap_form_errors form type='non_fields' %}
</form>

<a class="e-get"  data-shell="#bigModalContent"  data-show="{% url 'card_app:create-fork' card.ancestor.id card.id %}"
href="{{card.ancestor.get_link_url}}" > 
<span class="glyphicon glyphicon-arrow-down"></span>  On the same list</a>

</div>


<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#selectForkListForm" 
data-show="{% url 'card_app:select-fork-list'  card.id %}"
class="btn btn-default e-post"> {% trans "Filter" %} </button>

</div>












