{% load bootstrap3 %}
{% load i18n %}


<div id="view-data">
<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h5> <span class="glyphicon glyphicon-random"></span>
Fork {{card.label|truncatechars:40}} on timeline.. </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in elems %}
<p><a class="e-get" data-shell="#bigModalContent" data-show="{% url 'card_app:create-post-fork' ind.id card.id %}"
data-callback="$('#modal').modal('toggle');$('#bigModal').modal('show');"  href="{{ind.get_link_url}}" > 
<span class="glyphicon glyphicon-eye-open"></span>

{{ind.name}}
</a> 
</p>

{% endfor %}

</div>

<hr>
<form id="selectForkListForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}


{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>
</div>

<div class="modal-footer">
<button  type="button" data-form="#selectForkListForm" id="selectForkListButton"
data-show="{% url 'card_app:select-fork-timeline'  card.id %}"
class="btn btn-default m-post"> {% trans "Filter" %} </button>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script>
$('#selectForkListForm').on('submit', (function(e){
    e.preventDefault();
        $('#selectForkListButton').click();

}));
</script>
















