<ul class="nav nav-pills ">
<li>

<!-- If the card has no ancestor then it is on clipboard -->
<a data-shell="#main-view" 
class="e-get"
data-show="{% url 'card_app:list-cards' card.ancestor.id %}"
href="#"><span class="glyphicon glyphicon-arrow-up"></span> Up</a></li>

<li>

<a class="b-modal"data-show="{% url 'card_app:update-card' card.id %}"
href="#"><span class="glyphicon glyphicon-edit"></span> Update</a></li>

<li>
<a class="b-modal text-info" data-show="{% url 'note_app:list-notes' card.id %}"  
href="#">
<span class="badge">
<span class="glyphicon glyphicon-comment"></span> {{card.notes.count}}
</span> Notes</a></li>


<li>

<a class="s-modal text-default" data-show="{% url 'card_app:manage-card-workers' card.id %}" 
data-callback="$('#modal').modal('toggle');" href="#">
<span class="glyphicon glyphicon-user"></span> Workers</a></li>

{% if card.done %}
<li>
<a data-shell="#main-view"class="e-get text-warning"
data-show="{% url 'card_app:undo'  card.id %}" href="#">
<span class="glyphicon glyphicon-ok"></span> Undo</a></li>
{% else %}
<li>
<a data-shell="#main-view"class="e-get text-warning"
data-show="{% url 'card_app:done'  card.id %}" href="#">
<span class="glyphicon glyphicon-ok"></span> Done</a></li>
{% endif %}

<li>
<a class="s-modal" data-show="{% url 'card_app:manage-card-tags'  card.id %}" 
data-callback="$('#modal').modal('toggle');"  href="#">
<span class="glyphicon glyphicon-tag"></span> Tags</a></li> 

<li>
<a class="s-modal text-danger" data-show="{% url 'card_app:confirm-card-deletion'  card.id %}"  href="#">
<span class="glyphicon glyphicon-remove"></span> Delete</a></li>

<li>
<a class="s-modal" data-show="{% url 'card_app:select-fork-list'  card.id %}" 
href="#"><span class="glyphicon glyphicon-random"></span> Fork/Card</a></li>

<li>

<a class="s-modal"
data-show="{% url 'card_app:manage-card-relations'  card.id %}" 
href="#"><span class="glyphicon glyphicon-link"></span> Relate</a></li>

<li>
<a data-shell="#main-view" class="e-get text-warning"
data-show="{% url 'card_app:cut-card' card.id %}" href="#">
<span class="glyphicon glyphicon-scissors"></span> Cut</a></li>

<li>
<a 
data-shell="#main-view"
class="e-get"
data-show="{% url 'card_app:copy-card' card.id %}"
href="#"><span class="glyphicon glyphicon-scissors"></span> Copy</a></li>

</ul>

<script>
// i should do it in css.
$('#view-data  img').each(function(){
    $(this).addClass('img-responsive');
});
</script>







