{% load static %}

<div class="panel panel-default">
<div class="panel-heading" style="font-size:80%">

<span class="glyphicon glyphicon-file"></span> 


by  {{card.owner.name}} on list

<a class="e-get" href="#"
data-show="{% url 'card_app:list-cards' card.ancestor.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-list-alt"> </span>
{{card.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{card.ancestor.ancestor.name}}

</a>

at <a href="{% url 'card_app:card-link' card.id %}" target="_blank"> {{card.created}} </a>  
{% if card.done %}
(Done)

{% endif %}

</div>

<div class="panel-body">
<h5> {{card.label}}.. </h5>
{{card.html | safe}}

<span style="font-size:80%">
{% for ind in attachments %}
<a href="{{ ind.file.url }}" target="_blank">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} </a>

{% empty %}
No attachments...
{% endfor %}
</span>

</div>


</div>









