{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% include 'card_app/view-data-user-info.html' %} </div>

<div class="modal-body">
<span style="font-size:90%;"> 
{% include 'card_app/view-data-card-actions.html' %} 
</span>

<div class="panel-group">
{% include 'card_app/view-data-main-card-info.html' %}
{% include 'card_app/view-data-utils-info-panel.html' %}
</div>

On <a href="{% url 'card_app:card-link' card.id %}" target="_blank"> {{card.created}} </a>  

<div class="pull-right">
<b class="text-danger"> Deadline: {{card.deadline}} </b>
</div>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>














