<span class="glyphicon glyphicon-file"></span> {% if card.done %} (Done) {% endif %} Card by 
<a href="#" data-toggle="popover" data-trigger="hover" title="{{card.owner.email}}"  data-content="{{card.owner.description}}"> {{card.owner.name}} </a> on list

<a class="e-get" href="#"
data-show="{% url 'card_app:list-cards' card.ancestor.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-list-alt"> </span>
{{card.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{card.ancestor.name}}

</a>

{% if card.parent_post %}
forked from post 
<a href="{% url 'post_app:post-link' card.parent_post.id %}" class="e-get" data-shell="#main-view"  target="_blank"
data-show="{% url 'post_app:post' card.parent_post.id %}" > <span class="glyphicon glyphicon-file"></span> {% if card.parent_post.done %} (Done) {% endif %}
{{card.parent_post.label|truncatechars:60}} </a>  
{% endif %}

<a href="#" class="e-get" data-show="{% url 'card_app:find' %}"  data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-search">  </span> T/C</a>



