{% load static %}

<div class="panel panel-default">
<div class="panel-body">

<div class="row">
<div class="col-md-3">
<h4> <span class="glyphicon glyphicon-user"></span> Workers</h4>
<hr>

<div class="pre-scrollable" style="font-size:80%">
{% for ind in workers %}
<a 
data-show="{% url 'card_app:card-worker-information' ind.id card.id %}"
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');" 
class="e-get"
href="#">
<span class="glyphicon glyphicon-user"></span>

{{ind.name}}
</a>

<br>
{% empty %}
No workers...
{% endfor %}</div></div>

<div class="col-md-3">
<h4> <span class="glyphicon glyphicon-file"></span> Attachments</h4>
<hr>
<div class="pre-scrollable" style="font-size:80%">
{% for ind in attachments %}
<a href="{% static ind.file %}" target="_blank"> 
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} </a>

{% empty %}
No attachments...
{% endfor %}</div></div>

<div class="col-md-2">
<h4> <span class="glyphicon glyphicon-tags"></span> Tags</h4>
<hr>
<div class="pre-scrollable" style="font-size:80%">
{% for ind in tags %}
<a 
data-show="{% url 'card_app:card-tag-information' ind.id card.id %}"
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');" 
class="e-get"
href="#">
<span class="glyphicon glyphicon-tag"></span>

{{ind.name}}
</a>

{% empty %}
No tags...

{% endfor %}</div></div>

<div class="col-md-4">
<h4> <span class="glyphicon glyphicon-book"></span> Notes</h4>
<hr>

<div class="pre-scrollable" style="font-size:80%">
{% for ind in notes %}
<a 
data-show="{% url 'note_app:note' ind.id %}"
data-shell="#bigModalContent" 
data-callback="$('#bigModal').modal('show');" 
class="e-get"
href="#">
<span class="glyphicon glyphicon-book"></span>

{{ind.title}}
</a>
<br>
{% empty %}
No notes...
{% endfor %}
</div></div>


</div>
</div>
</div>









