{% load static %}

<div class="panel panel-default">
<div class="panel-heading">

<small>
<span class="glyphicon glyphicon-file"></span> Card by 
<a href="#" data-toggle="popover" data-trigger="hover" title="{{card.owner.email}}"  data-content="Score: value">
<span class="glyphicon glyphicon-user"></span> {{card.owner.name}} </a> on list

<a class="e-get" href="#"
data-show="{% url 'card_app:list-cards' card.ancestor.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-list-alt"> </span>
{{card.ancestor.ancestor.name}}
<span class="glyphicon glyphicon-arrow-right"></span>
{{card.ancestor.name}}

</a>

at <a href="{% url 'card_app:card-link' card.id %}" target="_blank"> {{card.created}} </a>  
{% if card.done %}
(Done)

{% endif %}

</small>

<div class="pull-right">
<a class="s-modal" href="#"
data-show="{% url 'card_app:card-events' card.id %}"> 
<span class="glyphicon glyphicon-bell"></span> E/C</a>
</div>

</div>

<div class="panel-body">
<h5> {{card.label}}.. </h5>
{{card.html | safe}}

<span style="font-size:90%">
{% for ind in attachments %}
<a href="{{ ind.file.url }}" target="_blank">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} </a>

{% empty %}
No attachments...
{% endfor %}
</span>

</div>

<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});
</script>

</div>






