<ul class="nav nav-pills ">
<li> <a  data-shell="#bigModalContent" class="e-get"data-show="{% url 'card_app:update-card' card.id %}"
href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>

<li> <a  data-shell="#smallModalContent"  class="e-get text-default" data-show="{% url 'card_app:manage-card-workers' card.id %}" href="#">
<span class="glyphicon glyphicon-user"></span> Workers</a></li>

<li> {% if card.done %} <a data-shell="#bigModalContent"class="e-get text-warning"
data-show="{% url 'card_app:undo'  card.id %}" href="#">
<span class="glyphicon glyphicon-ok"></span> Undo</a>
{% else %}
<a data-shell="#bigModalContent"class="e-get text-warning"
data-show="{% url 'card_app:done'  card.id %}" href="#">
<span class="glyphicon glyphicon-ok"></span> Done</a>
{% endif %} </li>

<li>
<a class="e-get"  data-shell="#smallModalContent"  data-show="{% url 'card_app:manage-card-tags'  card.id %}" 
  href="#">
<span class="glyphicon glyphicon-tag"></span> Tags</a></li> 

<li>
<a  data-shell="#smallModalContent"  class="e-get text-danger" data-show="{% url 'card_app:confirm-card-deletion'  card.id %}"  href="#">
<span class="glyphicon glyphicon-remove"></span> Delete</a></li>

<li>
<a class="e-get"  data-shell="#smallModalContent"  data-show="{% url 'card_app:select-fork-list'  card.id %}" 
href="#"><span class="glyphicon glyphicon-random"></span> Fork</a></li>

<li>
<a data-shell="#main-view" class="e-get text-warning"
data-show="{% url 'card_app:cut-card' card.id %}" href="#">
<span class="glyphicon glyphicon-scissors"></span> Cut</a></li>

<li> <a  data-shell="#main-view" class="e-get" data-show="{% url 'card_app:copy-card' card.id %}"
href="#"><span class="glyphicon glyphicon-copy"></span> Copy</a></li>

<li> 
<a class="e-get"  data-shell="#mediumModalContent"  href="#"
data-show="{% url 'card_app:card-events' card.id %}"> 
<span class="glyphicon glyphicon-bell"></span> E/C</a>
</li>

<li> <a  data-shell="#bigModalContent" class="e-get text-info" data-show="{% url 'note_app:list-notes' card.id %}"   href="#">
<span class="glyphicon glyphicon-comment"></span> Notes <span class="badge"> {{card.notes.count}} </span></a></li>

</ul>

<script>
// i should do it in css.
$('#view-data  img').each(function(){
    $(this).addClass('img-responsive');
});
</script>












