{% load static %}

<div class="panel panel-default">

<div class="panel-body">
<h5> {{card.label}}.. </h5>
{{card.html | safe}}

<span style="font-size:90%">
<!-- Add a min-height so it doesnt get relayout -->
<div id="card-attachments-{{card.id}}" style="min-height:52px;"> </div>

<script> 
/* It has to be async false otherwise it gets relayout when reloading the 
the card details. */

$.get({ 
url: "{% url 'card_app:attach-file' card.id %}",
async: true},

function(data) {
    $('#card-attachments-{{card.id}}').html(data);
});
</script>
</span>

<div class="pull-right"> <a href="#" class="text-warning e-get" data-show="{% url 'card_app:set-deadline' card.id %}" data-shell="#smallModalContent"> Set deadline? </a> </div>

</div>

<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});
</script>

</div>













