{% load i18n %}
{% load listutils %}

{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h4> <a href="#" class="e-get" data-show="{% url 'bitbucket_app:create-bitbucket-hook' %}"> <span class="glyphicon glyphicon-plus"></span>  </a>
Bitbucket/Hooks </h4>
</div>

<div class="modal-body">

<div class="pre-scrollable">

{% for ind in hooks %}
<p> <a href="#" data-show="{% url 'bitbucket_app:delete-bitbucket-hook' ind.id %}" class="e-get text-danger"> 
<span class="glyphicon glyphicon-remove"></span> </a> {{ind.full_name}} </p>
{% endfor %}

</div>

</div>

<div class="modal-footer">
<button  data-show="{% url 'core_app:update-organization' %}"
type="button" class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>

















