{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">PostComments on {{post.label}} {{post.description|slice:":60"}}..</h4>
</div>

<div class="modal-body pre-scrollable">

{% for ind in records %}
<div style="word-wrap: break-word;"> 

<p>
<span style="color:grey;"> {{ind.user.name}} (<span style="font-size:70%">{{ind.created}}</span>)</span>
<br>
{{ind.data}} 

{% if ind.file %} 
<a style="color: red" href="{% static ind.file %}"  target="_blank"> {{ind.file.name}} </a> 
{% endif %}
</p>
</div> 

{% endfor %}
</div>


<div class="modal-footer" >
<form id="form-comment-data" enctype="multipart/form-data" onsubmit="return false;">
{% csrf_token %}

<div id="inputPostComment">
{% bootstrap_field form.data layout='inline' size='sm' %}
{% bootstrap_field form.file layout='inline' size='sm' %}

</div>

<button  id="sendPostComment" type="button" 
data-form="#form-comment-data" 
data-callback="$('#modal').modal('toggle');" 
data-shell="#modalContent" 
data-shell-error="#modalContent" 
data-show="{% url 'post_comment_app:create-comment' post.id %}"
class="btn btn-default e-post">  {% trans "Send" %} </button>

</form>

<script>
$('#inputPostComment').keypress(function(e){
    if(e.keyCode == 13)
        $('#sendPostComment').click();
    e.stopPropagation();
});
$('#id_data').focus();
</script>


</div>









