Django==1.11
py-gfm
django-bootstrap3
pillow
markdown
django-recaptcha
django-listutils
requests
django-blowdb
git+ssh://git@bitbucket.org/arcamens/django-paybills.git
git+ssh://git@bitbucket.org/arcamens/django-slock.git
git+ssh://git@bitbucket.org/arcamens/django-jsim.git
pygments
git+ssh://git@bitbucket.org/arcamens/django-sqlike.git
git+ssh://git@bitbucket.org/arcamens/django-jscroll.git

git+ssh@bitbucket.org:arcamens/django-onesignal.git











