Django==1.10
django-bootstrap3
pillow
markdown
requests
paho-mqtt
django-blowdb
git+ssh://git@bitbucket.org/arcamens/django-paybills.git
git+ssh://git@bitbucket.org/winstroll/django-slock.git
git+ssh://git@github.com/arcamens/django-secure-storage.git
git+ssh://git@bitbucket.org/arcamens/django-scrolls.git
