Django==1.11
py-gfm
django-bootstrap3
django-datetime-widget
pillow
markdown
django-recaptcha
requests
django-blowdb
django-listutils
git+ssh://git@bitbucket.org/arcamens/django-paybills.git@1.1.0
git+ssh://git@bitbucket.org/arcamens/django-slock.git@1.1.0
git+ssh://git@bitbucket.org/arcamens/django-jsim.git@1.2.0
mysqlclient
pygments
git+ssh://git@bitbucket.org/arcamens/django-sqlike.git@1.0.1
git+ssh://git@bitbucket.org/arcamens/django-onesignal.git@1.0.0
git+ssh://git@bitbucket.org/arcamens/django-jscroll.git@1.1.0
django-storages
boto3





