Django==1.11
py-gfm
django-bootstrap3
pillow
markdown
django-recaptcha
requests
django-blowdb
django-listutils
git+ssh://git@bitbucket.org/arcamens/django-paybills.git
git+ssh://git@bitbucket.org/arcamens/django-slock.git
git+ssh://git@bitbucket.org/arcamens/django-jsim.git
mysqlclient
pygments
git+ssh://git@bitbucket.org/arcamens/django-sqlike.git
git+ssh://git@bitbucket.org/arcamens/django-onesignal.git
git+ssh://git@bitbucket.org/arcamens/django-jscroll.git
django-storages
