{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5> <span class="glyphicon glyphicon-plus"></span> Create Tag Relationship </h5>
</div>

<div class="modal-body">
<p class="text-warning">  Bind tag <span class="glyphicon glyphicon-tag"></span> {{tag.name}} to the user {{user.name}}?</p>

<form id="userTagshipForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

</form>
</div>

<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button  type="button" class="btn btn-default e-get" data-show="{% url 'core_app:bind-user-tags' user.id %}"> 
<span class="glyphicon glyphicon-arrow-left"></span> {% trans "Back" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span>     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#userTagshipForm" data-show="{% url 'core_app:create-user-tagship' user.id tag.id  %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-ok"></span> {% trans "Done" %} </button>
</div>

</div>


