{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>

{% block title %}
<span class="glyphicon glyphicon-flag"></span>
New organization
{% endblock %}

</div>

<div class="modal-body">
{% block body %}

{% endblock %}

<form id="organizationForm" enctype="multipart/form-data">
{% csrf_token %}

{% block formfields %}
{% bootstrap_field form.name  size='md' %}
{% endblock %}

{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
{% block buttons %}

<button  type="button" data-form="#organizationForm" 
data-callback="window.location='{% url 'core_app:index' %}';" 
data-shell=""
data-shell-error="#smallModalContent" 
data-show="{% url 'core_app:create-organization' %}"
class="btn btn-default e-post">  {% trans "Create" %} </button>
{% endblock %}

</div>



