<script>
function alertEvent() {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();

    $('#eventsBell').css('color', 'orange');
}

var wsbroker = '127.0.0.1';  // mqtt websocket enabled broker
var wsport = 15675; // port for above
var client = new Paho.MQTT.Client(wsbroker, wsport, "/ws",
        "myclientid_" + parseInt(Math.random() * 100, 10));

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
client.connect({onSuccess:onConnect});

function onConnect() {
     var queues = {{queues|safe}};

     queues.forEach(function(ind){
         client.subscribe(ind);

     });
    
    // Users will have a particular queue
    // for getting specific events.
    client.subscribe("user{{user.id}}");

    // message = new Paho.MQTT.Message("Connected from browser!");
    // message.destinationName = "beta";
    // client.send(message);

  console.log("onConnect");

}

function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
        console.log("onConnectionLost:"+responseObject.errorMessage);
    }
}


function onMessageArrived(message) {
    // get the queue here and parse the message
    // if it is user queue and the message is unsubscribe
    // then the user gets unsubscribed from the queue.
    console.log("onMessageArrived:"+ message.payloadString +
    "destionationName:" + message.destinationName);
    alertEvent();

    if(message.destinationName == "user{{user.id}}") {
        args = message.payloadString.split(' ')
        console.log(args);

        if(args[0] == "unsubscribe") {
            client.unsubscribe(args[1]);
            console.log('Unsubscribing' + args);
        } else if(args[0] == "subscribe") {
            client.subscribe(args[1]);
            console.log('Subscribing' + args);
        }
    }

}
</script>



