

{% for ind in events %}
<div id="event-{{ind.id}}">
{% if ind.ecreatelist %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatelist.get_absolute_url}}");
});
</script>
{% elif ind.earchivepost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.earchivepost.get_absolute_url}}");
});
</script>
{% elif ind.ecreatetimeline %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatetimeline.get_absolute_url}}");
});
</script>

{% elif ind.ebindusertag %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindusertag.get_absolute_url}}");
});
</script>
{% elif ind.eunbindusertag %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindusertag.get_absolute_url}}");
});
</script>

{% elif ind.einviteuser %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.einviteuser.get_absolute_url}}");
});
</script>

{% elif ind.earchiveboard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.earchiveboard.get_absolute_url}}");
});
</script>

{% elif ind.earchivelist %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.earchivelist.get_absolute_url}}");
});
</script>

{% elif ind.eupdatelist %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eupdatelist.get_absolute_url}}");
});
</script>
{% elif ind.edeleteboard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.edeleteboard.get_absolute_url}}");
});
</script>

{% elif ind.eupdateboard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eupdateboard.get_absolute_url}}");
});
</script>
{% elif ind.ecreateboard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreateboard.get_absolute_url}}");
});
</script>
{% elif ind.ecreatefork %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatefork.get_absolute_url}}");
});
</script>
{% elif ind.edeletelist %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.edeletelist.get_absolute_url}}");
});
</script>

{% elif ind.ecreatecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatecard.get_absolute_url}}");
});
</script>
{% elif ind.erelatecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.erelatecard.get_absolute_url}}");
});
</script>
{% elif ind.eunrelatecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunrelatecard.get_absolute_url}}");
});
</script>

{% elif ind.ecreatepostcomment %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatepostcomment.get_absolute_url}}");
});
</script>
{% elif ind.eupdatecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eupdatecard.get_absolute_url}}");
});
</script>
{% elif ind.edeletecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.edeletecard.get_absolute_url}}");
});
</script>
{% elif ind.ecutcard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecutcard.get_absolute_url}}");
});
</script>
{% elif ind.ecutlist %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecutlist.get_absolute_url}}");
});
</script>


{% elif ind.earchivecard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.earchivecard.get_absolute_url}}");
});
</script>
{% elif ind.ebindboarduser %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindboarduser.get_absolute_url}}");
});
</script>
{% elif ind.ebindcardworker %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindcardworker.get_absolute_url}}");
});
</script>
{% elif ind.eunbindcardworker %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindcardworker.get_absolute_url}}");
});
</script>
{% elif ind.eunbindboarduser %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindboarduser.get_absolute_url}}");
});
</script>
{% elif ind.ecreatepost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatepost.get_absolute_url}}");
});
</script>
{% elif ind.ecutpost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecutpost.get_absolute_url}}");
});
</script>
{% elif ind.eupdatepost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eupdatepost.get_absolute_url}}");
});
</script>
{% elif ind.eupdatetimeline %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eupdatetimeline.get_absolute_url}}");
});
</script>
{% elif ind.ebindtimelineuser %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindtimelineuser.get_absolute_url}}");
});
</script>
{% elif ind.eunbindtimelineuser %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindtimelineuser.get_absolute_url}}");
});
</script>
{% elif ind.edeletetimeline %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.edeletetimeline.get_absolute_url}}");
});
</script>
{% elif ind.ecreatecardcomment %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ecreatecardcomment.get_absolute_url}}");
});
</script>
{% elif ind.ebindtagpost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindtagpost.get_absolute_url}}");
});
</script>
{% elif ind.eunbindtagpost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindtagpost.get_absolute_url}}");
});
</script>
{% elif ind.eunbindtagcard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunbindtagcard.get_absolute_url}}");
});
</script>
{% elif ind.ebindtagcard %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.ebindtagcard.get_absolute_url}}");
});
</script>

{% elif ind.edeletepost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.edeletepost.get_absolute_url}}");
});
</script>
{% elif ind.eassignpost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eassignpost.get_absolute_url}}");
});
</script>
{% elif ind.eunassignpost %}
<script>
$(document).ready(function() {
$('#event-' + {{ind.id}}).load("{{ind.eunassignpost.get_absolute_url}}");
});
</script>

{% endif %}
</div>
{% endfor %}




