<script>
function alertEvent() {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();

    $('a.eventsButton').addClass('new-events');
}

var wsbroker = '{{settings.WS_HOST}}';  // mqtt websocket enabled broker
var wsport = {{settings.WS_PORT}}; // port for above
var client = new Paho.MQTT.Client(wsbroker, wsport, "/ws",
        "myclientid_" + parseInt(Math.random() * 100, 10));

function onConnect() {
     var queues = {{queues|safe}};

     queues.forEach(function(ind){
         client.subscribe(ind);

     });

    // Tell the user to subscribe to the default organization.
    client.subscribe('organization{{organization.id}}');    

    // Users will have a particular queue
    // for getting specific events.
    client.subscribe("user{{user.id}}");

    // message = new Paho.MQTT.Message("Connected from browser!");
    // message.destinationName = "beta";
    // client.send(message);

  console.log("onConnect");

}

function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
        console.log("onConnectionLost:"+responseObject.errorMessage);
    }
    start();

}


function onMessageArrived(message) {
    // get the queue here and parse the message
    // if it is user queue and the message is unsubscribe
    // then the user gets unsubscribed from the queue.
    console.log("onMessageArrived:"+ message.payloadString +
    "destionationName:" + message.destinationName);

    args = message.payloadString.split(' ')
    console.log(args);

    if(args[0] == "unsubscribe") {
        client.unsubscribe(args[1]);
        console.log('Unsubscribing' + args);
    } else if(args[0] == "subscribe") {
        client.subscribe(args[1]);
        console.log('Subscribing' + args);
    } else if(args[0] == "restart") {
        location.reload();
        console.log('Restarting ...' + args);
    } else if(args[0] == 'sound') {
        alertEvent();
        console.log('Playinng sound!');

    }

}

// set callback handlers
// connect the client

function start() {
    client.onConnectionLost = onConnectionLost;
    client.onMessageArrived = onMessageArrived;
    var options = {onSuccess:onConnect, 
    keepAliveInterval: 60 * 60,
    timeout: 15000,
    'useSSL': {{settings.WS_USE_SSL}}, 
    mqttVersion: 3.0};
    client.connect(options);

}

start()
</script>






