

{% for ind in events %}
<div id="event-{{ind.id}}">
{% if ind.ecreatelist %}
{% include 'list_app/e-create-list.html' with event=ind.ecreatelist %}
{% elif ind.earchivepost %}
{% include 'post_app/e-archive-post.html' with event=ind.earchivepost %}
{% elif ind.edeletesnippet %}
{% include 'snippet_app/e-delete-snippet.html' with event=ind.edeletesnippet%}
{% elif ind.eupdatenote %}
{% include 'note_app/e-update-note.html' with event=ind.eupdatenote %}
{% elif ind.edeletenote %}
{% include 'note_app/e-delete-note.html' with event=ind.edeletenote %}
{% elif ind.ejoinorganization %}
{% include 'core_app/e-join-organization.html' with event=ind.ejoinorganization %}
{% elif ind.ecreatenote %}
{% include 'note_app/e-create-note.html' with event=ind.ecreatenote %}
{% elif ind.eupdatesnippet %}
{% include 'snippet_app/e-update-snippet.html' with event=ind.eupdatesnippet %}
{% elif ind.ecreatesnippet %}
{% include 'snippet_app/e-create-snippet.html' with event=ind.ecreatesnippet %}
{% elif ind.ecreatetimeline %}
{% include 'timeline_app/e-create-timeline.html' with event=ind.ecreatetimeline %}
{% elif ind.ebindusertag %}
{% include 'core_app/e-bind-user-tag.html' with event=ind.ebindusertag %}
{% elif ind.eunbindusertag %}
{% include 'core_app/e-unbind-user-tag.html' with event=ind.eunbindusertag %}
{% elif ind.einviteuser %}
{% include 'core_app/e-invite-user.html' with event=ind.einviteuser %}
{% elif ind.eupdatelist %}
{% include 'list_app/e-update-list.html' with event=ind.eupdatelist %}
{% elif ind.edeleteboard %}
{% include 'board_app/e-delete-board.html' with event=ind.edeleteboard %}
{% elif ind.eupdateboard %}
{% include 'board_app/e-update-board.html' with event=ind.eupdateboard %}
{% elif ind.ecreateboard %}
{% include 'board_app/e-create-board.html' with event=ind.ecreateboard %}
{% elif ind.ecreatefork %}
{% include 'card_app/e-create-fork.html' with event=ind.ecreatefork %}
{% elif ind.edeletelist %}
{% include 'list_app/e-delete-list.html' with event=ind.edeletelist %}
{% elif ind.ecreatecard %}
{% include 'card_app/e-create-card.html' with event=ind.ecreatecard %}
{% elif ind.epastecard %}
{% include 'list_app/e-paste-card.html' with event=ind.epastecard %}
{% elif ind.erelatecard %}
{% include 'card_app/e-relate-card.html' with event=ind.erelatecard %}
{% elif ind.eunrelatecard %}
{% include 'card_app/e-unrelate-card.html' with event=ind.eunrelatecard %}
{% elif ind.ecreatepostcomment %}
{% include 'comment_app/e-create-comment.html' with event=ind.ecreatepostcomment %}
{% elif ind.eupdatecard %}
{% include 'card_app/e-update-card.html' with event=ind.eupdatecard %}
{% elif ind.edeletecard %}
{% include 'card_app/e-delete-card.html' with event=ind.edeletecard %}
{% elif ind.ecutcard %}
{% include 'card_app/e-cut-card.html' with event=ind.ecutcard %}
{% elif ind.ecutlist %}
{% include 'list_app/e-cut-list.html' with event=ind.ecutlist %}
{% elif ind.earchivecard %}
{% include 'card_app/e-archive-card.html' with event=ind.earchivecard %}
{% elif ind.ebindboarduser %}
{% include 'board_app/e-bind-board-user.html' with event=ind.ebindboarduser %}
{% elif ind.ebindcardworker %}
{% include 'card_app/e-bind-card-worker.html' with event=ind.ebindcardworker %}
{% elif ind.eunbindcardworker %}
{% include 'card_app/e-unbind-card-worker.html' with event=ind.eunbindcardworker %}
{% elif ind.eunbindboarduser %}
{% include 'board_app/e-unbind-board-user.html' with event=ind.eunbindboarduser %}
{% elif ind.ecreatepost %}
{% include 'post_app/e-create-post.html' with event=ind.ecreatepost %}
{% elif ind.ecutpost %}
{% include 'post_app/e-cut-post.html' with event=ind.ecutpost %}
{% elif ind.eupdatepost %}
{% include 'post_app/e-update-post.html' with event=ind.eupdatepost %}
{% elif ind.eupdatetimeline %}
{% include 'timeline_app/e-update-timeline.html' with event=ind.eupdatetimeline %}
{% elif ind.ebindtimelineuser %}
{% include 'timeline_app/e-bind-timeline-user.html' with event=ind.ebindtimelineuser %}
{% elif ind.eunbindtimelineuser %}
{% include 'timeline_app/e-unbind-timeline-user.html' with event=ind.eunbindtimelineuser %}
{% elif ind.edeletetimeline %}
{% include 'timeline_app/e-delete-timeline.html' with event=ind.edeletetimeline %}
{% elif ind.ebindtagpost %}
{% include 'post_app/e-bind-tag-post.html' with event=ind.ebindtagpost %}
{% elif ind.eunbindtagpost %}
{% include 'post_app/e-unbind-tag-post.html' with event=ind.eunbindtagpost %}
{% elif ind.eunbindtagcard %}
{% include 'card_app/e-unbind-tag-card.html' with event=ind.eunbindtagcard %}
{% elif ind.ebindtagcard %}
{% include 'card_app/e-bind-tag-card.html' with event=ind.ebindtagcard %}
{% elif ind.edeletepost %}
{% include 'post_app/e-delete-post.html' with event=ind.edeletepost %}
{% elif ind.eassignpost %}
{% include 'post_app/e-assign-post.html' with event=ind.eassignpost %}
{% elif ind.eunassignpost %}
{% include 'post_app/e-unassign-post.html' with event=ind.eunassignpost %}
{% elif ind.ecreatetag %}
{% include 'core_app/e-create-tag.html' with event=ind.ecreatetag %}
{% elif ind.edeletetag %}
{% include 'core_app/e-delete-tag.html' with event=ind.edeletetag %}
{% elif ind.epastepost %}
{% include 'timeline_app/e-paste-post.html' with event=ind.epastepost %}

{% endif %}
</div>
{% endfor %}


