{% load i18n %}

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span> 
</button>

<button type="button" data-show="{% url 'timeline_app:list-timelines' %}" class="navbar-toggle btn btn-info e-get" 
data-shell="#main-view"role="button"> <span class="glyphicon glyphicon-home"></span>  </button>

<button type="button" class="navbar-toggle btn btn-info e-get eventsButton" 
data-show="{% url 'core_app:list-events' %}" data-callback="$('#modal').modal('toggle');$('.eventsButton').removeClass('new-events')" 
data-shell="#modalContent" href="#"> <span class="glyphicon glyphicon-bell"></span>  </button>

<button type="button" data-show="{% url 'board_app:list-boards' %}" class="navbar-toggle btn btn-info e-get" data-shell="#main-view" role="button">
<span class="glyphicon glyphicon-th"></span>  </button>

<button type="button" class="navbar-toggle btn btn-info e-get" data-show="{% url 'post_app:find' %}" 
data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-search">  </span> P</button>

<button type="button" class="navbar-toggle btn btn-info e-get" 
data-show="{% url 'card_app:find' %}" data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-search">  </span> C</button>

<button type="button" class="navbar-toggle btn btn-info e-get" 
data-show="{% url 'post_app:list-all-assignments' %}" data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-tasks">  </span> T/P</button>

<button type="button" class="navbar-toggle btn btn-info e-get" 
data-show="{% url 'card_app:list-all-tasks' %}" data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-tasks">  </span> T/C</button>

<div class="collapse navbar-collapse" id="myNavbar">

<ul class="nav navbar-nav">
<li class="hidden-xs"><a data-show="{% url 'timeline_app:list-timelines' %}" class="e-get" 
href="#" data-shell="#main-view"> <span class="glyphicon glyphicon-home"></span>  Home</a></li>

<li class="hidden-xs"><a class="e-get eventsButton" data-show="{% url 'core_app:list-events' %}" 
data-shell="#modalContent" data-callback="$('#modal').modal('show');$('.eventsButton').removeClass('new-events')" href="#"><span class="glyphicon glyphicon-bell"></span> 
{% trans "Events" %}</a></li>

<li class="hidden-xs"><a data-show="{% url 'board_app:list-boards' %}" class="e-get" data-shell="#main-view" href="#">
<span class="glyphicon glyphicon-th"></span>  Boards</a></li>

<li class="hidden-xs"><a href="#" class="e-get" data-show="{% url 'post_app:list-all-assignments' %}" data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent">
<span class="glyphicon glyphicon-tasks"></span> Tasks/Posts </a></li>

<li class="hidden-xs"><a href="#" class="e-get" data-show="{% url 'card_app:list-all-tasks' %}" data-callback="$('#bigModal').modal('toggle');" data-shell="#bigModalContent">
<span class="glyphicon glyphicon-tasks"></span> Tasks/Cards </a></li>

<li class="hidden-xs"><a href="#" class="e-get" data-shell="#bigModalContent" data-show="{% url 'post_app:find' %}" 
data-callback="$('#bigModal').modal('show');"> <span class="glyphicon glyphicon-search"></span> Posts</a></li>

<li class="hidden-xs"><a href="#" class="e-get" data-shell="#bigModalContent" data-show="{% url 'card_app:find' %}" 
data-callback="$('#bigModal').modal('show');"> <span class="glyphicon glyphicon-search"></span> Cards</a></li>


</ul>

{% include "core_app/navbar-context-dropdown.html" %}
</div>






