<!DOCTYPE html>
{% load i18n %}
{% load jsim %}

<html lang="en">
<head>
<title>Arcamens</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/input-extensions.js"> </script>

<!--
// Make elements sortable, used in the list pin.
// i have to think on how to implement this feature yet
// <script src="/static/jquery-ui.js"> </script>
-->

<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/pygments.css">


{% block initializer %}
<script>
$(document).ready(function() {
    $('#main-view').load("{% url 'timeline_app:list-timelines' %}");
});

$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});


// $(document).ready(function(){
// $('body').tooltip({
    // selector: '[data-toggle="tooltip"]'
// });
// });
</script>
{% endblock %}

{{user.ws_connection | safe}}

<script>
$(document).on('ws-bell', function alertSound(e) {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();
});

$(document).on('ws-sound', function alertSound(e) {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();
    $('a.eventsButton').addClass('new-events');
});

$(document).on('ws-alert-event', function(e) {
    $('a.eventsButton').addClass('new-events');
});

</script>

</head>

<body>
{% jsim %}

<nav class="navbar navbar-inverse" style="background-color:#071152">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="{% url 'core_app:index' %}"><span class="glyphicon glyphicon-eye-open"></span> Arcamens</a>
</div>

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span> 
</button>

{% include 'core_app/index-menu-navbar.html' %}

</div>
</div>

</nav>


{% block navbar %}

{% endblock %}

<div class="clearfix"></div>

<div id="main-view" class="container-fluid">
</div>

</body>

</html>




