{% load i18n %}

<button type="button" class="navbar-toggle btn btn-info e-get new-events" 
data-show="{% url 'core_app:list-events' %}" 
data-callback="$('#modal').modal('toggle');" 
data-shell="#modalContent"
href="#"> <span class="eventsButton">
<span class="glyphicon glyphicon-bell"></span>  </span></button>

<button type="button" class="navbar-toggle btn btn-info e-get" 
data-show="{% url 'card_app:list-all-tasks' %}" 
data-callback="$('#bigModal').modal('toggle');" 
data-shell="#bigModalContent"
href="#"> 
<span class="glyphicon glyphicon-tasks">  </span></button>

<button type="button" class="navbar-toggle btn btn-info e-get" 
data-show="{% url 'card_app:find' %}" 
data-callback="$('#bigModal').modal('toggle');" 
data-shell="#bigModalContent"
href="#"> 
<span class="glyphicon glyphicon-search">  </span></button>

<button type="button" data-show="{% url 'timeline_app:list-timelines' %}" class="navbar-toggle btn btn-info e-get" 
href="#"
data-shell="#main-view"
role="button">
<span class="glyphicon glyphicon-eye-open"></span>  </button>

<button type="button" data-show="{% url 'board_app:list-boards' %}" class="navbar-toggle btn btn-info e-get" 
href="#"
data-shell="#main-view"
role="button">
<span class="glyphicon glyphicon-th"></span>  </button>

<div class="collapse navbar-collapse" id="myNavbar">

<ul class="nav navbar-nav">

<li><a class="hidden-xs e-get eventsButton"  
data-show="{% url 'core_app:list-events' %}" 
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');$('.eventsButton').removeClass('new-events')"
href="#"><span class="glyphicon glyphicon-bell"></span> 
{% trans "Events" %}</a></li>

<li>
<a href="#" class="s-modal"  data-show="{% url 'core_app:list-users' user.default.id %}">
<span class="glyphicon glyphicon-user"></span> Members  </a> </li>

<li>
<a href="#" class="s-modal"  data-show="{% url 'core_app:update-organization' user.default.id %}">
<span class="glyphicon glyphicon-cog"></span> Settings </a></li>

<li>
<a data-show="{% url 'timeline_app:list-timelines' %}" class="e-get" 
href="#"
data-shell="#main-view">
<span class="glyphicon glyphicon-eye-open"></span>  Timelines</a>


</li>

<li>
<a data-show="{% url 'board_app:list-boards' %}" class="e-get" 
data-shell="#main-view"
href="#">
<span class="glyphicon glyphicon-th"></span>  Boards</a>

</li>

<li>
<a href="#" 
class="e-get" data-shell="#bigModalContent" 
data-show="{% url 'card_app:list-all-tasks' %}" 
data-callback="$('#bigModal').modal('toggle');" 
data-shell="#bigModalContent">
<span class="glyphicon glyphicon-tasks"></span> Card/Tasks 
</a>
</li>

<li>
<a href="#" 
class="e-get" data-shell="#bigModalContent" 
data-show="{% url 'card_app:find' %}" 
data-callback="$('#bigModal').modal('show');">
<span class="glyphicon glyphicon-search"></span> Find/Cards
</a>
</li>

</ul>

{% include "core_app/navbar-context-dropdown.html" %}











