<!DOCTYPE html>
{% load i18n %}
{% load jsim %}

<html lang="en">
<head>
<title>Arcamens</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/input-extensions.js"> </script>

<!--
// Make elements sortable, used in the list pin.
// i have to think on how to implement this feature yet
// <script src="/static/jquery-ui.js"> </script>
-->

<link rel="stylesheet" href="/static/arcamens-main.css">
<link rel="stylesheet" href="/static/pygments.css">


{% block initializer %}
<script>
$(document).ready(function() {
    $('#main-view').load("{% url 'core_app:list-nodes' %}");
});

$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});

$(document).ready(function() {
$('.navbar').on('focus', function() {
    console.log('onfocus event');
});

});


// $(document).ready(function(){
// $('body').tooltip({
    // selector: '[data-toggle="tooltip"]'
// });
// });
</script>
{% endblock %}

{{user.init_onesignal | safe}}


<script>
OneSignal.push(function() {
    OneSignal.on('notificationDisplay', function (event) {
        console.warn('OneSignal notification displayed:', event);
        // var audio = new Audio('/static/event-alert.mp3');
        // audio.play();
        $('.eventsButton').addClass('new-events');
    });
});
</script>

</head>

<body>
{% jsim %}
<script>
    // It cant be inside document ready otherwise it fails
    // when viewing cards, notes, posts etc because these
    // are displayed over modals.
    opts = {
        'data-backdrop': 'static',
        'data-keyboard': false
    };

    $('#bigModal').attr(opts);
    $('#mediumModal').attr(opts);
    $('#smallModal').attr(opts);
</script>


<nav class="navbar navbar-inverse" style="background-color:#071152">
<div class="container-fluid">

<div class="navbar-header"> <a class="navbar-brand" href="{% url 'core_app:index' %}"> Arcamens</a> </div>

{% include 'core_app/index-menu-navbar.html' %}

</div>
</div>

</nav>


{% block navbar %}

{% endblock %}

<div class="clearfix"></div>

<div id="main-view" class="container-fluid">
</div>

</body>

</html>













