{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>
<span class="glyphicon glyphicon-send"></span>
{{user.default.name}}'s invite </h4>
</div>

<div class="modal-body">
<form id="bind-user-form" enctype="multipart/form-data">

{% csrf_token %}

{% bootstrap_field form.email  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'core_app:list-invites'  %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#bind-user-form" data-show="{% url 'core_app:invite-organization-user'  %}"
class="btn btn-default e-post"> {% trans "Send" %} </button>
</div>


