{% load bootstrap3 %}
{% load i18n %}
{% load listutils %}
{% load static %}

{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% block head %}
<h4>
<a style="font-size:110%" href="#" 
class="e-get" data-shell="#modalContent"  
data-show="{% url 'core_app:invite-organization-user' organization.id %}"> 
<span class="glyphicon glyphicon-plus"></span> </a>

{{organization.name}}'s Members  
<span class="badge">{{users.count}}/{{total.count}}</span>
</h4>
{% endblock %}
</div>

<div class="modal-body">

<table class="table table-condensed table-bordered">
<div class="pre-scrollable" >

<tbody>
{% for ind in users %}
<tr style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>
</td>
<td>
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

<a href="#" data-show="{% url 'timeline_app:manage-user-timelines' ind.id %}"
data-shell="#modalContent" 
data-toggle="modal" 
class="e-get">
<span class="glyphicon glyphicon-eye-open"></span> Timelines  </a>

<a href="#" data-show="{% url 'board_app:manage-user-boards' ind.id %}"
data-shell="#modalContent" 
data-toggle="modal" 
class="e-get">
<span class="glyphicon glyphicon-th"></span>  Boards  </a>

<a href="#" data-show="{% url 'core_app:manage-user-tags' ind.id %}"
data-shell="#modalContent" 
data-toggle="modal" 
class="e-get">
<span class="glyphicon glyphicon-tags"></span>  Tags  </a>

</td>


</tr>

{% empty %}
<p> ... </p>
{% endfor %}

</div>
</tbody>
</table>

<hr>

<form id="list-user-search-form" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>
</div>

<div class="modal-footer">
<button  type="button" data-form="#list-user-search-form" 
data-shell="#modalContent" 
data-shell-error="#modalContent" data-show="{% url 'core_app:list-users' organization.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>














