{% load i18n %}
{% load listutils %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  {{organization.name}}'s Events <span class="badge">{{count}}</span></h4>
</div>

<div class="modal-body">
<div id="listEvents" class="container-fluid pre-scrollable">
{% include 'core_app/event-paginator.html' %}

</div>

<script>
var count = 0;

function autoScroll() {
    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight * 60/100.0) {
        count = count + 1;
    
        $('#listEvents').off('scroll');
    
        $.get({ 
            url: "{% url 'core_app:event-paginator' %}",
            data: {
                page : count
            },

        },


        function(data) {
            $('#listEvents').on('scroll', autoScroll);
            $('#listEvents').append(data);
        });
    }
}

$('#listEvents').on('scroll', autoScroll);
</script>

</div>

</div>

<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>



