{% load i18n %}
{% load listutils %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  
<span class="glyphicon glyphicon-tasks"></span> 
Tasks <span class="badge">{{tasks.count}}</span></h4>
</div>

<div class="modal-body">
<div class="pre-scrollable">
{% for ind in assignments %}
<p>
<a 
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'post_app:post' ind.id %}"
class="e-get text-warning" href="#">
<span class="glyphicon glyphicon-file"></span> 
{{ind.label}}
</a>
</p>

{% endfor %}


{% for ind in tasks %}
<p>
<a 
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'card_app:view-data' ind.id %}"
class="e-get text-warning" href="#">
<span class="glyphicon glyphicon-file"></span> 
{{ind.label}}
</a>
</p>

{% endfor %}

</div>

</div>

<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>







