{% load i18n %}
{% load listutils %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  {{organization.name}}'s Events <span class="badge">{{events.count}}</span></h4>
</div>

<div class="modal-body">
<div id="listEvents" class="container-fluid pre-scrollable">
<script>
$('#listEvents').load("{% url 'core_app:event-paginator' %}?page=1")
</script>
</div>

<br>
{% bootstrap_form form layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</div>

</div>

<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>
























