{% load i18n %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  
<span class="glyphicon glyphicon-bell"></span>

{{organization.name}}'s Events <span class="badge">{{count}}</span></h4>
</div>

<div class="modal-body pre-scrollable">
{{ elems | safe}}


</div>

</div>

<div class="modal-footer">
<div class="pull-left">

<a class="text-warning e-get" data-show="{% url 'core_app:all-seen' %}" href="#">  
<span class="glyphicon glyphicon-ok"></span> All seen?</a>

<a data-show="{% url 'core_app:shout' %}" class="e-get" href="#"> 
<span class="glyphicon glyphicon-volume-up"></span>
Shout? </a>

</div>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>






