{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% block head %}

<h4>
<span class="glyphicon glyphicon-search"></span> 

{{organization.name}}'s Members  
<span class="badge">{{count}}/{{total}}</span> </h4>

{% endblock %}
</div>

<div class="modal-body">
<div class="pre-scrollable" >

{% for ind in users %}

<p class="text-center">

<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />

{{ind.name}}  
<br>
<small> {{ind.email}} </small>   <br>

<span style="font-size:90%">
<a data-show="{% url 'group_app:manage-user-groups' ind.id %}" class="e-get" href="#">
<span class="glyphicon glyphicon-eye-open"></span> Groups  </a>

<a data-show="{% url 'board_app:manage-user-boards' ind.id %}" class="e-get" href="#">
<span class="glyphicon glyphicon-th"></span>  Boards  </a>

<a data-show="{% url 'core_app:manage-user-tags' ind.id %}" class="e-get" href="#">
<span class="glyphicon glyphicon-tag"></span>  Tags  </a>

<br>
</span>

<span style="font-size:70%">
<a href="#" data-show="{% url 'core_app:remove-organization-user' ind.id %} " class="e-get text-danger">
<span class="glyphicon glyphicon-remove"></span> Remove  </a>
</span>

</p>

{% empty %}
<p> ... </p>
{% endfor %}


</div>

<hr>

<form id="list-user-search-form" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

</form>
<a href="#" data-show="{% url 'core_app:list-invites' %}" class="e-get"> 
 <span class="glyphicon glyphicon-send"></span> Invites </a>

</div>

<div class="modal-footer">

<button  type="button" data-form="#list-user-search-form" 
data-show="{% url 'core_app:list-users'  %}" class="btn btn-default e-post"> {% trans "Filter" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>





