{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h4> <span class="glyphicon glyphicon-send"></span> Sent Invites
</h4>
</div>

<div class="modal-body">
<div class="pre-scrollable">

{% for ind in invites %}
<p>

<a href="#" data-show="{% url 'core_app:cancel-invite' ind.id %}" class="e-get">
<span class="text-danger glyphicon glyphicon-remove"></span> </a>
{{ind.user.email}} 
<a href="#" data-show="{% url 'core_app:resend-invite' ind.id %}" class="e-get">
Resend</a>
<br>
<small> Sent on {{ind.created}} </small>
</p>
{% empty %}
No invites...
{% endfor %}

</div>

<br>
<a style="font-size:110%" class="e-get" data-show="{% url 'core_app:invite-organization-user' %}" href="#"> 
<span class="glyphicon glyphicon-send"></span> Invite a peer?</a>

</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'core_app:list-users'  %}"
class="btn btn-default e-get"> Back </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>








