{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-search"></span> {{organization.name|truncatechars:20}}'s Admins 
<span class="badge">{{count}}/{{total}}</span> </h4>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in included %}
<p class="text-center" >
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>   

<br>

<a class="r-post" style="color:red; font-size:70%" data-form="#userSearchForm"
data-show="{% url 'core_app:unbind-organization-admin' ind.id %}"  href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a>  

</p>

{% endfor %}

{% for ind in excluded %}
<p class="text-center" >
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>  
<br>

<a class="r-post" style="color:green;font-size:70%" data-form="#userSearchForm"
data-show="{% url 'core_app:bind-organization-admin' ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Add </a> 

</p>
{% endfor %}
</div>

<br>
<form id="userSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">

<button  type="button" data-form="#userSearchForm" 
data-shell="#smallModalContent" 
data-show="{% url 'core_app:manage-organization-admins'  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>



