{% load i18n %}

<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<span class="glyphicon glyphicon-flag"></span> {{organization.name}}
<span class="caret"></span></a>


<ul class="dropdown-menu">
<li><a class="s-modal" data-show="{% url 'core_app:create-organization' user.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> 
{% trans "Organization" %}</a></li>

{% if organizations %}
<li class="divider"></li>
{% endif %}

{% for ind in organizations %}
<li><a href="{% url 'core_app:switch-organization' ind.id %}">
<span class="glyphicon glyphicon-flag"></span> {{ind.name}}</a></li>
{% endfor %}

</ul>

<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<span class="glyphicon glyphicon-user"></span> {{user.name}} 
<span class="caret"></span></a>

<ul class="dropdown-menu">
<li><a class="s-modal" data-show="{% url 'core_app:update-user-information' %}" href="#">
<span class="glyphicon glyphicon-edit"></span>{% trans "Settings" %}</a></li>

<li class="divider"></li>

<li><a  href="" target="_blank"><span class="glyphicon glyphicon-book"></span> {% trans "Help" %}</a></li>
<li class="divider"></li>

<li  ><a href="" target="_blank">
<span class="glyphicon glyphicon-plus"></span> {% trans "Upgrade" %}</a></li>

<li class="divider"></li>

<li><a class="s-modal" data-show = "{% url 'core_app:list-clipboard' %}" href="#">
<span class="glyphicon glyphicon-magnet"></span> {% trans "Clipboard" %}</a></li>
<li class="divider"></li>


<li>
<a class="s-modal" data-show="{% url 'core_app:list-logs'  %}" href="#">
<span class="glyphicon glyphicon-bell"></span> Logs 
</a>
</li>

<li class="divider"></li>
<li><a href="{% url 'site_app:logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
</ul>
</li>


</ul>












