{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Arcamens</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<div class="jumbotron"> <h1>Arcamens</h1> 

<p class="text-warning">You have no organization! 
<br>
<small class="text-info"> Create an organization to start working. </small>
</p> 

<div class="row">
<div class="col-md-5">
<form action="{% url 'core_app:no-organization' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
{% buttons submit='Create' layout='inline' %}{% endbuttons %}

</form>

</div>
</div>
<div class="pull-right"> <a href="{% url 'site_app:logout' %}"> Logout? </a>  </div>
</div>
</div>


</body>
</html>



