{% load i18n %}

<div class="pull-right dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<span class="glyphicon glyphicon-wrench"></span>  </a>

<ul class="dropdown-menu" role="menu">
<li> <a  class="e-get" data-shell="#smallModalContent" data-show="{% url 'group_app:create-group' organization.id %}"
href="#"><span class="glyphicon glyphicon-plus"></span> {% trans "Group" %}</a> </li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#smallModalContent" href="#" data-show="{% url 'core_app:manage-organization-admins' %}">
<span class="glyphicon glyphicon-user"></span> Admins </a> </li>

<li class="divider"></li>

<li><a href="#" class="e-get" data-shell="#smallModalContent" data-show="{% url 'core_app:list-users'  %}">
<span class="glyphicon glyphicon-user"></span> Members  </a> </li>

<li class="divider"></li>

<li><a href="#" class="e-get" data-shell="#smallModalContent" 
data-show="{% url 'core_app:list-tags' %}" >
<span class="glyphicon glyphicon-tag"></span> Tags
</a></li>

<li class="divider"></li>
<li><a class="e-get" data-shell="#mediumModalContent" data-show = "{% url 'core_app:list-clipboard' %}" href="#">
<span class="glyphicon glyphicon-magnet"></span> {% trans "Clipboard" %}</a></li>

<li class="divider"></li>

<li><a href="#" class="e-get" data-shell="#smallModalContent" data-show="{% url 'core_app:update-organization' %}">
<span class="glyphicon glyphicon-cog"></span> Settings </a></li>


</ul>
</div>











