{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5> <span class="glyphicon glyphicon-cog"></span> {{user.name}} Membership</h5>
</div>

<div class="modal-body">

<form id="groupshipForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.status  size='sm' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<small>
<p class="text-info"> Staffs have the same power as the owner except
it can't delete or rename the organization. </p>
<p class="text-info"> Workers can't perform user management. </p>
<p class="text-info"> Contributors can't create/delete groups/boards. </p>
</small>

<a href="#" data-show="{% url 'core_app:remove-organization-user' user.id %}" class="e-get text-warning"> 
 <span class="glyphicon glyphicon-remove"></span> Remove {{user.name}}? </a>

</div>

<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button  type="button" class="btn btn-default e-get" data-show="{% url 'core_app:list-users'  %}"> 
<span class="glyphicon glyphicon-arrow-left"></span>
{% trans "Back" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span>     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#groupshipForm"  
data-show="{% url 'core_app:set-membership' organization.id user.id  %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-ok"></span> {% trans "Done" %} </button>
</div>

</div>


