{% load bootstrap3 %}
{% load i18n %}

<form id="setup-node-filter-form" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-filter"></span> Collection Filter</h4>
</div>

<div class="modal-body">
{% csrf_token %}

{% bootstrap_field form.pattern size='md' %}

{% bootstrap_field form.status  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

</div>
</form>

<div class="modal-footer">
<button  type="button" data-form="#setup-node-filter-form" 
data-shell="#main-view"  
data-show="{% url 'core_app:setup-node-filter'  %}"
class="btn btn-default e-post"> {% trans "Setup" %} </button>
</div>



































