{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-cog"></span> {{organization.name}}'s Settings 
<small> by {{organization.owner.name}} ({{organization.owner.email}})</h4>
</div>

<div class="modal-body">

<form id="organizationForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<a href="#" class="e-get" data-show="{% url 'bitbucket_app:list-bitbucket-hooks' %}" > <span class="glyphicon glyphicon-share-alt"></span>  
Bitbucket/Webhooks</a>

<a href="#" class="e-get" data-show="{% url 'github_app:list-github-hooks' %}" > <span class="glyphicon glyphicon-share-alt"></span>  
Github/Webhooks</a>

</div>

<div class="modal-footer">

<button  type="button" data-show="{% url 'core_app:delete-organization' %}" class="btn btn-danger e-get">  
{% trans "Delete" %} </button>

<button  type="button" data-form="#organizationForm" data-callback="location.reload()"  data-shell="" data-shell-error="#smallModalContent" 
data-show="{% url 'core_app:update-organization' %}" class="btn btn-default e-post"> {% trans "Update" %}
</button>

</div>










