{% load bootstrap3 %}
{% load i18n %}

<form id="form-group-data" enctype="multipart/form-data">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

{% block title %}
<h4 class="modal-title"> <span class="glyphicon glyphicon-eye-open"></span> Group</h4>
{% endblock %}

</div>
<div class="modal-body">
{% csrf_token %}
{% bootstrap_field form.name  size='sm' %}
{% bootstrap_field form.description  size='sm' %}
{% bootstrap_field form.open  size='sm' %}

</div>
</form>

<div class="modal-footer">
{% block buttons %}
<button  type="button" data-form="#form-group-data" 
data-shell="#main-view" data-show="{% url 'group_app:create-group' organization_id %}"
class="btn btn-default e-post"> 
{% trans "Create" %}
</button>

{% endblock %}
</div>



