{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5> <span class="glyphicon glyphicon-plus"></span> Create Group Relationship</h5>
</div>

<div class="modal-body">
<p class="text-warning"> Add group {{group.name}} to the user {{user.name}} groups?</p>

<form id="groupshipForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.status  size='sm' %}
{% bootstrap_form_errors form type='non_fields' %}

</form>
<small>
<p class="text-info"> Admins have the samer power as super admins except
these cant add/remove members. </p>

<p class="text-info"> Workers can just produce/change content.</p>

<p class="text-info"> Guests can just feedback on events.</p>
</small>

</div>

<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button  type="button" class="btn btn-default e-get" data-show="{% url 'group_app:bind-user-groups' user.id %}"> 
<span class="glyphicon glyphicon-arrow-left"></span> {% trans "Back" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span> {% trans "Cancel" %}
</button>

<button  type="button" data-form="#groupshipForm" data-show="{% url 'group_app:create-user-groupship' group.id user.id  %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-ok"></span> {% trans "Done" %} </button>
</div>

</div>


