{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5 class="modal-title">
<span class="glyphicon glyphicon-cog"></span>
{{group.name}}'s settings</h5>

</div>

<div class="modal-body">
<form id="form-group-data" enctype="multipart/form-data">

{% csrf_token %}
{% bootstrap_field form.name  size='sm' %}
{% bootstrap_field form.description  size='sm' %}
</form>

{% if group.open %}  
<p class="text-info"> This group is open.  </p>
{% endif %}

</div>


<div class="modal-footer">
<button  type="button" data-show="{% url 'group_app:delete-group' group.id %}"
class="btn btn-danger e-get"> 
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-group-data" 
data-shell="#main-view" data-show="{% url 'group_app:update-group' group.id %}"
class="btn btn-default e-post"> 
{% trans "Update" %}
</button>

</button>

</div>






