{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
{% csrf_token %}
{% block title %}
<h4> 
<span class="glyphicon glyphicon glyphicon-list-alt"></span>
List </h4>

{% endblock %}

</div>

<div class="modal-body">
<form id="form-list-data" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_field form.description  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>

<div class="modal-footer">
{% block buttons %}
<button  type="button" data-form="#form-list-data" data-shell="#main-view" href="#"
data-show="{% url 'list_app:create-list' board.id %}" class="btn btn-default e-post">  {% trans "Create" %} </button>
{% endblock %}
</div>






















