{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
List
<a class="e-get"
data-callback="$('#smallModal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.child.id %}"
href="#"> 
<span class="glyphicon glyphicon-file"></span>
{{event.child.name|truncatechars:40}} </a> archived on board

<a class="e-get"
data-callback="$('#smallModal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.ancestor.id %}" href="#"> 
<span class="glyphicon glyphicon-th"></span> {{event.ancestor.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> on {{event.created}}

{% endblock %}



























