{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has created list

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.child.id %}"
href="#"> 
<span class="glyphicon glyphicon-list-alt"></span>
{{event.child.name}} </a> on board

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.ancestor.id %}" href="#"> 
<span class="glyphicon glyphicon-th"></span>
{{event.ancestor.name}} </a>  

on {{event.created}}

{% endblock %}




















