{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has pasted cards

{% for ind in event.cards.all %}
<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:view-data' ind.id %}" 
href="{{ind.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{ind.label|truncatechars:40}} </a> 

{% endfor %}

on list

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' event.ancestor.id %}" href="{{event.ancestor.get_link_url}}"> 
<span class="glyphicon glyphicon-list-alt"></span>

{{event.ancestor.name}} </a> 


{% endblock %}
































