
{% extends "list_app/create-list.html" %}
{% load i18n %}
{% block title %}
<h5>
<span class="glyphicon glyphicon-cog"></span>  Settings </h5>
{% endblock %}


{% block buttons %}
<button  type="button" 
data-form="#form-list-data" 
data-shell="#main-view" 
data-shell-error="#smallModalContent" 
data-show="{% url 'list_app:update-list' list.id %}"
class="btn btn-default e-post"> 
{% trans "Update" %}
</button>
{% endblock %}
























