{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5 class="text-success"> 
<span class="glyphicon glyphicon-envelope"></span>
Alert sent!
</h5>
</div>

<div class="modal-body">
<p class="text-info"> The users were alerted through E-email! </p>
</div>


<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>












