{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-remove"></span> Delete post <a href="{{post.get_link_url}}" data-shell="#bigModalContent" data-show="{% url 'post_app:view-data' post.id %}"
class="e-get">  <span class="glyphicon glyphicon-file"></span> {{post.label|truncatechars:60}} </a> ?
</div>

<div class="modal-body">
<p class="text-danger"> The content will no longer be avaiable!</p>

{% if post.children.exists %}
<p class="text-warning"> It is gonna delete all post's forks, are you sure? </p>
{% endif %}
</div>


<div class="modal-footer">
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'post_app:view-data' post.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  id="createpost" type="button" 
data-shell="#main-view" data-show="{% url 'post_app:delete-post' post.id %}"
class="btn btn-danger e-get"> 
     {% trans "Delete" %}
</button>


<script>





