{% load bootstrap3 %}
{% load i18n %}

<form id="form-post-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

{% bootstrap_field form.label  size='md' %}

</div>

<div class="modal-body">

{% csrf_token %}

{% bootstrap_field form.data  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</div>

<div class="modal-footer">
{% block buttons %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button id="createPost" type="button" data-form="#form-post-data" 
data-shell="#main-view" data-callback="$('#bigModal').modal('toggle');" 
data-shell-error="#bigModalContent" data-show="{% url 'post_app:create-post' ancestor.id %}"
class="btn btn-default e-post"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>
</form>



