{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5> <span class="glyphicon glyphicon-plus"></span> Create Task Relationship</h5>
</div>

<div class="modal-body">
<p class="text-warning">  Bind {{user.name}} to the post {{post.name}}?</p>

<form id="postshipForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.status  size='sm' %}
{% bootstrap_form_errors form type='non_fields' %}

</form>
</div>

<div class="modal-footer">
<script>
function refreshPost() {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
}
</script>

<div class="btn-group btn-group-sm">
<button  type="button" class="btn btn-default e-get" data-show="{% url 'post_app:bind-post-workers' post.id %}"> 
<span class="glyphicon glyphicon-arrow-left"></span> {% trans "Back" %} </button>
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span>     {% trans "Cancel" %}
</button>

<button  type="button" data-callback="refreshPost();" data-form="#postshipForm" data-show="{% url 'post_app:create-post-taskship-user' post.id user.id  %}"
class="btn btn-default e-post"> 
<span class="glyphicon glyphicon-ok"></span>
{% trans "Done" %} </button>
</div>

</div>

