
{% extends "card_app/create-fork.html" %}
{% load i18n %}

{% block buttons %}
<div class="pull-left">
<a class="b-modal" href="#" data-show="{% url 'post_app:pull-content' post.id card.id %}"> 
<span class="glyphicon glyphicon-download"></span> 

Keep old content? </a>
</div>

<button  type="button" data-form="#form-card-data" 
data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'card_app:cancel-card-creation' card.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#form-card-data" data-shell="#main-view" id="createCardFork"
data-show="{% url 'post_app:create-card-fork' ancestor.id post.id card.id %}"
class="btn btn-default m-post-close"> 
{% trans "Fork" %}
</button>

<script>
$('#form-post-data').on('submit', (function(e){
    e.preventDefault();
        $('#createCardFork').click();

}));
</script>


{% endblock %}











