
{% extends "card_app/create-fork.html" %}
{% load i18n %}

{% block buttons %}
<div class="pull-left">
<a class=e-get" data-shell="bigModalContent" href="#" data-show="{% url 'post_app:pull-card-content' ancestor.id post.id %}"> 
<span class="glyphicon glyphicon-download"></span> 

Keep old content? </a>
</div>

<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  type="button" data-form="#form-card-data" data-shell="#main-view" 
data-show="{% url 'post_app:create-card-fork' ancestor.id post.id %}"
class="btn btn-default e-post"> 
{% trans "Fork" %}
</button>

{% endblock %}














