{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}

User <a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="{{event.peer.description}}">

<span class="glyphicon glyphicon-user"></span> {{event.peer.name}}  </a>
was assigned to post

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}" href="{{event.post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label}} </a>  

{% endblock %}

















