{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}">
<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> has attached file <a href="{{event.filewrapper.file.url}}" target="_blank"> 
<span class="glyphicon glyphicon-file"></span>

{{event.filewrapper.file}} </a> to post

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}" href="{{event.post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label}} </a>

on {{event.created}}

{% endblock %}


