{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

<span class="glyphicon glyphicon-user"></span> {{user.name}} 
{{event.user.name}} has removed tag 
{{event.tag.name}} from post

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}" href="#"> 
{{event.post.label}} </a>  

on timeline 

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'timeline_app:list-posts' event.ancestor.id %}" href="#"> 
<span class="glyphicon glyphicon-eye-open"></span> {{event.ancestor.name}} 

</a>  


on {{event.created}}

{% endblock %}












