{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
Post
<a class="e-get"
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'post_app:post' event.post.id %}"
href="#"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label}} {% if event.post.task %} <b> *Task* </b> {% endif %} </a> updated on timeline

<a class="e-get"
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 

data-show="{% url 'timeline_app:list-posts' event.timeline.id %}" href="#"> 
<span class="glyphicon glyphicon-eye-open"></span> {{event.timeline.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">

<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> on {{event.created}}

{% endblock %}





















