{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{post.label}} post's workers </h5>
</div>

<div class="modal-body">

{% include 'post_app/manage-post-workers-list-user-choices.html' %}

<br> 

<form id="assign-post-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<script>
$('#modal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:post' post.id  %}');
})
</script>

<button  type="button" data-form="#assign-post-search-form" 
data-shell="#modalContent" id="filterPostWorkers"
data-shell-error="#modalContent" data-show="{% url 'post_app:manage-post-workers' post.id  %}"
class="btn btn-default e-post"> {% trans "Filter" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>


<script>
$('#id_pattern').keypress(function(e){
    if(e.keyCode == 13) {
        $('#filterPostWorkers').click();
        return false;
    }
});
</script>





