{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{post.label|truncatechars:40}} 's Tags 
<span class="badge">{{count}}/{{total}}</span> </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">

{% for ind in included %}
<p> <a class="r-post" style="color:red" data-form="#tagSearchForm" data-callback="refreshPost();"
data-show="{% url 'post_app:unbind-post-tag' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a>  <b> {{ind.name}} </b>
 {{ind.description}} 
</p>
{% endfor %}

{% for ind in excluded %}
<p>
<a class="r-post" data-form="#tagSearchForm" data-callback="refreshPost();"
data-show="{% url 'post_app:bind-post-tag' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a>  <b> {{ind.name}} </b>
 {{ind.description}} 
</p>
{% endfor %}

</div>

<br> 

<form id="tagSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<script>
function refreshPost() {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
}

</script>

<button  type="button" data-form="#tagSearchForm" data-shell="#smallModalContent" 
data-shell-error="#smallModalContent" data-show="{% url 'post_app:manage-post-tags' post.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>

