{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in included %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
<img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

{% block action_included %}
<a class="e-get" style="color:red"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'post_app:unassign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a> 
{% endblock %}

</td>
</tr>
{% endfor %}

{% for ind in excluded %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>
<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

{% block action_excluded %}
<a class="e-get"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'post_app:assign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Assign </a> 
{% endblock %}

</td>
{% endfor %}

</table>
</div>

