{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{post.label}} post's workers </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in included %}
<tr id="unassign-post-user-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>
<a class="e-get" style="color:red"
data-callback="$('#unassign-post-user-{{ind.id}}').remove();"
data-show="{% url 'post_app:unassign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a>  </td>
</tr>
{% endfor %}

{% for ind in excluded %}
<tr id="assign-post-user-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{% static ind.avatar %}" />
</td>
<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

<a class="e-get"
data-callback="$('#assign-post-user-{{ind.id}}').remove();"
data-show="{% url 'post_app:assign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Assign </a> 
</td>
{% endfor %}

</table>
</div>

<br> 

<form id="assign-post-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.name  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<button  type="button" data-form="#assign-post-search-form" 
data-shell="#modalContent" 
data-shell-error="#modalContent" data-show="{% url 'post_app:manage-post-workers' post.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>




