{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{post.label|truncatechars:"60"}} post's workers 
<span class="badge">{{count}}/{{total}}</span>
</h5>
</div>

<div class="modal-body">
<div class="pre-scrollable">
{% for ind in included %}
<p class="text-center" id="user-choice-{{ind.id}}">
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>   <br>
<b style="font-size:60%"> All post/tasks: {{ind.assignments.count}}
</b>

<br>

<a class="e-get" style="color:red; font-size:70%"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'post_app:unassign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Unbind</a>  

</p>

{% endfor %}

{% for ind in excluded %}
<p class="text-center" id="user-choice-{{ind.id}}">
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>  
<br>
<b style="font-size:60%"> All post/tasks:: {{ind.assignments.count}}</b>
<br>

<a class="e-get" style="color:green;font-size:70%"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'post_app:assign-post-user' post.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> bind </a> 

</p>
{% endfor %}
</div>

<br> 

<form id="assign-post-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<script>
$('#modal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
})
</script>

<button  type="button" data-form="#assign-post-search-form" 
data-shell="#smallModalContent" 
data-shell-error="#smallModalContent" data-show="{% url 'post_app:manage-post-workers' post.id  %}"
class="btn btn-default e-post"> {% trans "Filter" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>


