{% load i18n %}

<ul class="nav nav-pills" style="background:#DADDDD;">

<li class="disabled">
<a  href="#"> <b><span class="glyphicon glyphicon-tasks"></span>  
Assignments: <span class="badge">{{count}}/{{total}}</span> </b></a>
</li>

<li data-toggle="tooltip" title="Up">
<a class="e-get" data-show="{% url 'timeline_app:list-timelines' %}"
data-shell="#main-view" data-show="" href="#">
<span class="glyphicon glyphicon glyphicon-arrow-up clip"></span> 
Up
</a>
</li>

<li>
<a href="#" class="s-modal" data-shell="#modalContent" 
data-show="{% url 'post_app:setup-assignment-filter' %}" 
{% if filter.status %}
<span class="glyphicon glyphicon-filter"></span> 
Filter
{% else %}
<strike> 
<span class="glyphicon glyphicon-filter"></span> 
Filter </strike>

{% endif %}

</a>
</li>

</ul>





































