{% load i18n %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>  
<span class="glyphicon glyphicon-bell"></span>

Events on post <a class="e-get" data-shell="#main-view"
data-show="{% url 'post_app:post' post.id %}" href="{{post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> {{post.label|truncatechars:40}} <span class="badge">{{count}}</span></a></h5>

</div>

<div class="modal-body pre-scrollable">
{% for ind in elems %}
<div class="panel panel-default">
<div class="panel-body">
{{ind.html | safe}}
</div> </div>
{% endfor %}

</div>


<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span>     {% trans "Close" %}
</button>
<script>

$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>








