{% load i18n %}
{% load static %}

<div id="post-{{post.id}}">

<div class="panel panel-default" >
<div class="panel-heading clearfix" > 

<div style="word-wrap: break-word;"> 
<span class="glyphicon glyphicon-file"></span>

Post by  <a href="#" data-toggle="popover" data-trigger="hover" title="{{post.user.email}}"  data-content="Score: value">
<span class="glyphicon glyphicon-user"></span> {{post.user.name}} </a> 
on timeline

<a class="e-get" href="#"
data-show="{% url 'timeline_app:list-posts' post.ancestor.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-eye-open"></span> {{post.ancestor.name}} </a>

at <a href="{% url 'post_app:post-link' post.id %}" target="_blank"> {{post.created}} </a>

{% if post.done %}
(Done)

{% endif %}

{% if post.parent %}
from card <a class="e-get" href="#"
data-show="{% url 'card_app:view-data' post.parent.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-file"></span> {{post.parent.label|truncatechars:60}} </a>
{% endif %}

</div>
</div>

<div class="panel-body" >
<div style="word-wrap: break-word;"> 

<pre style="background-color:#F6E4E1;font-size:120%">
{{post.label}} 
</pre>
</div>

<div class="row">
<div class="col-md-3">
<h5> 
<span class="glyphicon glyphicon-file"></span>

Attachments </h5>
<div class="pre-scrollable" style="font-size:90%">

{% for ind in post.postfilewrapper_set.all %}
<a href="{{ ind.file.url }}" target="_blank">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} </a>
{% empty %}
No attachment.
{% endfor %}
</div>
</div>

<div class="col-md-3">
<h5> 
<b> # </b>
Tags </h5>
<div class="pre-scrollable" style="font-size:90%">

{% for ind in post.tags.all %}
<a 
data-show="{% url 'post_app:post-tag-information' ind.id post.id %}"
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');" 
class="e-get"
href="#">
<span class="glyphicon glyphicon-tag"></span>

{{ind.name}}
</a>

{% empty %}
No tags.
{% endfor %}
</div>
</div>

<div class="col-md-3">
<h5> <span class="glyphicon glyphicon-random"></span> Card Forks </h5>

<div class="pre-scrollable" style="font-size:90%">
{% for ind in post.card_forks.all %}
<a href="#" class="e-get" data-shell="#main-view" data-show="{{ind.get_absolute_url}}" >
<span class="glyphicon glyphicon-file"></span> {{ind.label|truncatechars:60}} </a> 
<br>
{% empty %}
No forks.
{% endfor %}</div></div>

<div class="col-md-3">
<h5> 
<span class="glyphicon glyphicon-user"></span>

Workers </h5>

<div class="pre-scrollable" style="font-size:90%">
{% for ind in post.workers.all %}
<a 
data-show="{% url 'post_app:post-worker-information' ind.id post.id %}"
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');" 
class="e-get"
href="#">
<span class="glyphicon glyphicon-user"></span>

{{ind.name}}
</a>

{% if forloop.last %} 
<br>
<a 
class="e-get text-warning"
data-shell="#modalContent" 
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'post_app:alert-post-workers' post.id %}"

href="#">
<span class="glyphicon glyphicon-alert"></span>

Alert workers?</a>

{% endif %}

{% empty %}
No workers.
{% endfor %}
</div>

</div>

</div> 

</div>



<div class="panel-footer">
{% block footer %}

<a data-show="{% url 'post_app:update-post' post.id %}"
data-shell="#bigModalContent"  href="#"
data-callback="$('#bigModal').modal('show');" 
class="text-warning e-get">
<span class="glyphicon glyphicon-edit"></span> Update</a>

<a href="#"
data-callback="$('#modal').modal('show');" 
data-shell="#modalContent" data-show="{% url 'post_app:manage-post-workers' post.id %}"
class="text-info e-get"><span class="glyphicon glyphicon-user"> </span> Assign </a>

<a class="text-danger s-modal" href="#" data-show="{% url 'post_app:confirm-post-deletion' post.id %}">
<span class="glyphicon glyphicon-remove"></span> Delete  </a>

{% if post.done %}
<a href="#" data-shell="#post-{{post.id}}" data-show="{% url 'post_app:undo' post.id %}"
class="text-warning text-default  e-get"><span class="glyphicon glyphicon-ok"></span> Undo </a>

{% else %}

<a href="#" data-shell="#post-{{post.id}}" data-show="{% url 'post_app:done' post.id %}"
class="text-warning e-get"><span class="glyphicon glyphicon-ok"></span> Done </a>
{% endif %}

<a class="text-info e-get"  href="#"
data-shell="#main-view" data-show="{% url 'post_app:copy-post' post.id %}">
<span class="glyphicon glyphicon-copy"></span> Copy </a>

<a class="text-warning e-get" href="#"
data-shell="#main-view" data-show="{% url 'post_app:cut-post' post.id %}">
<span class="glyphicon glyphicon-scissors"></span> Cut </a>

<a href="#"
data-callback="$('#modal').modal('show');" 
data-shell="#modalContent" data-show="{% url 'post_app:manage-post-tags' post.id %}"
class="text-info e-get"><b>#</b> Tags </a>

<a class="text-warning s-modal" href="#"
data-show="{% url 'post_app:select-fork-list' post.id %}">
<span class="glyphicon glyphicon-random"></span> Fork/Card </a>

</div>

{% endblock %}
</div>
</div>

</div>






























