{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span> {{post.label|truncatechars:60}}'s Priority
<span class="badge">{{count}}/{{total}}</span> </h5>
</div>

<div class="modal-body">
<div class="pre-scrollable">

{% for ind in posts %}
<p>


<a href="{{ind.get_link_url}}" target="_blank"> {{ind.label}}</a> 
<br>

<small>
<a class="e-get text-danger"  data-shell="#main-view"  
data-show="{% url 'post_app:set-post-priority-up' post.id ind.id %}" href="{{ind.get_link_url}}">  <span class="glyphicon glyphicon-arrow-up"></span>Up</a> 

<a class="e-get text-success" data-shell="#main-view"  
data-show="{% url 'post_app:set-post-priority-down' post.id ind.id %}" href="{{ind.get_link_url}}">  <span class="glyphicon glyphicon-arrow-down"></span>Down</a> 
</small>

</p>
{% endfor %}

</div> <br>
<form id="postPriorityForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">

<button type="button" class="btn btn-default" 
data-dismiss="modal">Close</button>

<button  type="button" data-form="#postPriorityForm" 
id="filterCardRelations" data-show="{% url 'post_app:post-priority' post.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

</div>












