{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5> 
<span class="glyphicon glyphicon-envelope"></span>
Call {{peer.name}} attention on post 
<span class="glyphicon glyphicon-file"></span>

{{post.label|truncatechars:40}}</h5>
</div>

<div class="modal-body">
<form id="requestpostAttentionForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.message  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>


<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#requestpostAttentionForm" 
data-shell="#smallModalContent" 
data-shell-error="#smallModalContent" data-show="{% url 'post_app:request-post-attention' peer.id post.id  %}"
class="btn btn-default e-post"> {% trans "Send e-mail" %} </button>

</div>





