{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h5> 
<span class="glyphicon glyphicon-random"></span>
Fork {{post.label|truncatechars:40}} on list..
</h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in elems %}
<p> <a class="e-get" data-shell="#bigModalContent"  data-show="{% url 'post_app:create-post-fork' ind.id post.id %}" href="#" > 
<span class="glyphicon glyphicon-list-alt"></span> {{ind.ancestor.name}} 
<span class="glyphicon glyphicon-arrow-right"></span> {{ind.name}} </a> </p>
{% endfor %}

</div>

<hr>
<form id="selectForkListForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}


{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">

<button  type="button" data-form="#selectForkListForm" data-show="{% url 'post_app:select-fork-list'  post.id %}"
class="btn btn-default e-post"> {% trans "Filter" %} </button>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>





