
{% extends "post_app/create-post.html" %}
{% load i18n %}
{% block title %}
<h4> 
<span class="glyphicon glyphicon-file"></span>

Update </h4>
{% endblock %}

{% block buttons %}
      <button  type="button" data-form="#form-post-data" id="updatePost"
      data-shell="#post-{{post.id}}" data-callback="$('#bigModal').modal('toggle');" 
      data-shell-error="#bigModalContent" data-show="{% url 'post_app:update-post' post.id %}"
      class="btn btn-default e-post"> 
           {% trans "Update" %}
      </button>

<script>
$('#id_label').keypress(function(e){
    if(e.keyCode == 13) {
        $('#updatePost').click();
        return false;
    }
});
</script>

{% endblock %}


















