
{% extends "post_app/create-post.html" %}
{% load i18n %}

{% block buttons %}
<script>
function postUpdate(){
    $('#post-{{post.id}}').load('{% url 'post_app:post' post.id  %}');
}
</script>

<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'post_app:view-data' post.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-form="#postForm" data-callback="postUpdate();"
data-shell="#bigModalContent" data-show="{% url 'post_app:update-post' post.id %}"
class="btn btn-default e-post"> 
     {% trans "Update" %}
</button>

{% endblock %}

























