
{% extends "post_app/create-post.html" %}
{% load i18n %}

{% block buttons %}
<script>
function refreshPost() {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
}

</script>

<button  type="button" data-form="#postForm" id="updatePost"
data-shell="#post-{{post.id}}"  data-callback="refreshPost();" data-show="{% url 'post_app:update-post' post.id %}"
class="btn btn-default e-post"> 
     {% trans "Update" %}
</button>

{% endblock %}























