{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% include 'post_app/view-data-user-info.html' %}

</div>

<div class="modal-body">
<script>
    if($('#post-{{post.id}}').length) {
        $('#post-{{post.id}}').load('{% url 'post_app:post' post.id  %}');
    }  
</script>

<div class="panel-group">
{% include 'post_app/view-data-main-info.html' %}
{% include 'post_app/view-data-utils-info.html' %}
</div>

<span style="font-size:90%;"> 
{% include 'post_app/view-data-post-actions.html' %} 
</span>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>










