{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-file"></span>

{% if post.done %} (Done) {% endif %} Post by  <a href="#" data-toggle="popover" data-trigger="hover" title="{{post.user.email}}"  data-content="{{post.user.description}}">
{{post.user.name}} </a> 
on group

<a class="e-get" href="{{post.ancestor.get_link_url}}" data-show="{% url 'group_app:list-posts' post.ancestor.id %}"
data-shell="#main-view" > <span class="glyphicon glyphicon-eye-open"></span> {{post.ancestor.name}} </a>

on <a href="{% url 'post_app:post-link' post.id %}" target="_blank"> {{post.created}} </a>

<a href="#" class="e-get" data-show="{% url 'post_app:find' %}"  data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-search">  </span> T/P</a>

</div>

<div class="modal-body">
<script>
        $('#post-{{post.id}}').load('{% url 'post_app:post' post.id  %}');
</script>

<div class="panel-group">
{% include 'post_app/view-data-main-info.html' %}
{% include 'post_app/view-data-utils-info.html' %}
</div>

{% include 'post_app/view-data-post-actions.html' %}

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>









