<div class="panel panel-default" >

<div class="panel-body" >
<div style="word-wrap: break-word;">  <h5> {{post.label}} </h5> {{post.html|safe}} </div>

{% for ind in post.snippets.all %}
<a data-show="{% url 'snippet_app:snippet' ind.id %}" class="e-get"  data-shell="#bigModalContent" href="{{ind.get_link_url}}"> 
<span class="glyphicon glyphicon-book"></span> {{ind.title}} </a>
{% empty %}
No snippets...
{% endfor %}

<hr>

<span style="font-size:80%">
<div id="post-attachments-{{post.id}}" style="min-height:52px;"> </div>
<script> 

$.get({ 
url: "{% url 'post_app:attach-file' post.id %}",
async: true},

function(data) {
    $('#post-attachments-{{post.id}}').html(data);
});

</script>
</span>


</div>
</div>

