<span class="glyphicon glyphicon-file"></span>

{% if post.done %} (Done) {% endif %} Post by  <a href="#" data-toggle="popover" data-trigger="hover" title="{{post.user.email}}"  data-content="{{post.user.description}}">
{{post.user.name}} </a> 
on group

<a class="e-get" href="{{post.ancestor.get_link_url}}" data-show="{% url 'group_app:list-posts' post.ancestor.id %}"
data-shell="#main-view" > <span class="glyphicon glyphicon-eye-open"></span> {{post.ancestor.name}} </a>

<a href="#" class="e-get" data-show="{% url 'post_app:find' %}"  data-shell="#bigModalContent"> 
<span class="glyphicon glyphicon-search">  </span> T/P</a>


