<ul class="nav nav-pills ">
<li>
<a data-show="{% url 'post_app:update-post' post.id %}" data-shell="#bigModalContent"  href="#" class="e-get"> 
<span class="glyphicon glyphicon-edit"></span> Update</a> </li>

<li> <a href="#"
data-shell="#smallModalContent" data-show="{% url 'post_app:manage-post-workers' post.id %}"
class="e-get"><span class="glyphicon glyphicon-user"> </span> Assign </a> </li>

<li> <a class="e-get text-danger" data-shell="#smallModalContent" href="#" data-show="{% url 'post_app:confirm-post-deletion' post.id %}">
<span class="glyphicon glyphicon-remove"></span> Delete  </a> </li>

<li>
{% if post.done %}
<a href="#" data-shell="#bigModalContent" data-show="{% url 'post_app:undo' post.id %}"
class="text-warning  e-get"><span class="glyphicon glyphicon-ok"></span> Undo </a>

{% else %}

<a href="#" data-shell="#bigModalContent" data-show="{% url 'post_app:done' post.id %}"
class="text-warning e-get"><span class="glyphicon glyphicon-ok"></span> Done </a>
{% endif %}
</li>

<li>
<a  data-shell="#bigModalContent" class="e-get text-info" data-show="{% url 'snippet_app:create-snippet' post.id %}" 
href="#"><span class="glyphicon glyphicon-plus"></span> Snippet</a></li>

<li> <a class="e-get"  href="#"
data-shell="#main-view" data-show="{% url 'post_app:copy-post' post.id %}">
<span class="glyphicon glyphicon-copy"></span> Copy </a></li>

<li><a class="text-warning e-get" href="#"
data-shell="#main-view" data-show="{% url 'post_app:cut-post' post.id %}">
<span class="glyphicon glyphicon-scissors"></span> Cut </a></li>

<li><a href="#"
data-shell="#smallModalContent" data-show="{% url 'post_app:manage-post-tags' post.id %}"
class="e-get"><span class="glyphicon glyphicon-tag"></span> Tags </a></li>

<li><a class="e-get" href="#" data-shell="#smallModalContent"
data-show="{% url 'post_app:select-fork-list' post.id %}">
<span class="glyphicon glyphicon-random"></span> Fork/Card </a></li>

<li><a class="e-get" href="#" data-shell="#smallModalContent"  data-show="{% url 'post_app:post-events' post.id %}"> <span class="glyphicon glyphicon-bell"></span> E/C</a></li>

</ul>


