{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-credit-card"></span> Payment Settings </h4>

</div>
<div class="modal-body">
<p class="text-info"> 
Send an E-mail to admins@arcamens.com with your Account's details. 
</p>

<p class="text-warning"> 
Inform your necessities regarding max users and period of time.
</p>

</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'cash_app:upgrade' %}" 
class="btn btn-default e-get"> {% trans "Back" %} </button>
</div>




