{% load bootstrap3 %}
{% load i18n %}


<p class="text-info"> Free plan offers 3 users at most per account 
Your account organizations's users sum up {{n_users}} users. Your actual expiration is: {{me.expiration}}<p>

<p class="text-warning">
Remove the unecessary users from your organizations. 
<br>
<small class="text-info"> You can't downgrade to free plan now! </small> </p>


