{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3> <span class="glyphicon glyphicon-credit-card"></span>

Paypal <small> Manual Payment </small></h3>

</div>
<div class="modal-body">

<form id="paypalManualPaymentForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.max_users  size='md' %}
{% bootstrap_field form.expiration  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>
<p> <b> Total Cost: {{cost}} {{settings.CURRENCY_CODE}}</b> <br>
<small class="text-info"> Cost based on current expiration and max users limit. 

<span class="text-warning"> Cost per user {{settings.USER_COST}} {{settings.CURRENCY_CODE}} per 30 days. </span>
</small></p>

</div>

<div class="modal-footer">

<button  type="button" data-show="{% url 'cash_app:upgrade' %}" 
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" data-show="{% url 'cash_app:calculate-period-cost' %}" data-form="#paypalManualPaymentForm"
class="btn btn-default e-post"> {% trans "Calc/Cost" %} </button>

<button  type="button" data-show="{% url 'cash_app:paypal-manual-payment' %}" data-form="#paypalManualPaymentForm"
class="btn btn-default e-post"> {% trans "Purchase" %} </button>

</div>














