{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-credit-card"></span> Payment Settings </h4>

</div>
<div class="modal-body">
<p class="text-info"> Your account can have at most {{ me.max_users }} users.
</p>

<p class="text-warning">
{% if me.enabled %}
    {% if me.expiration %}
        It will expire on {{ me.expiration }}.
    {% else %}
        It will never expire.
    {% endif %}
{% else %}
Your account was expired on {{ me.expiration }}.
{% endif %}
</p>

<h5 class="text-info"> Your purchases: </h5>
<div class="pre-scrollable" style="font-size:90%">
{% for ind in items %}
<p> 
Max Users: {{ind.period.max_users}} 
<br>
Total: {{ind.period.total}} {{CURRENCY_CODE}}
<br>
Expiration: {{ind.period.expiration}}
<br>
Type: {% if ind.period.paid %} Plan Paid {% else %}  Plan Free {% endif %}
<br>
Date: {{ind.period.created}}
<br>

{% if ind.payment_process.success %}
<small class="text-success"> Paid successfully! </small>
{% endif %}
<p>
{% empty %}
<p> No items. </p>
{% endfor %}

</div>

</div>

<div class="modal-footer">

<div class="text-center">
 <a class="e-get" data-show="{% url 'cash_app:paypal-manual-payment' %}" href="#"> Paypal </a> 
<a class="e-get" data-show="{% url 'cash_app:custom-payment' %}" href="#"> Custom </a> 

{% if me.paid %}
<a class="e-get" data-show="{% url 'cash_app:confirm-downgrade-free' %}" href="#"> Downgrade Free </a> 
{% endif %}
</div>

</div>















