.node-ancestor {
word-wrap: 
break-word;

background-color:#CBCED2;
}

.board {
word-wrap: 
break-word;

background-color:#D0D6E8;
}

.list-ancestor {
word-wrap: 
break-word;

background-color:#D0D6E8;

}

.list {
word-wrap: 
break-word;

background-color:#EEE7C3;

}

.pin-list {
color:#887925;

}

.pin-card {
color:#5E666F;

}

.pin-board {
color:#5366A0;

}
.pin-group {
color:#295C2C;

}


.card-ancestor {
word-wrap: 
break-word;

background-color:#EEE7C3;

}

.card {
word-wrap: 
break-word;

background-color:#F4F0E5;

}

.fork {
word-wrap: 
break-word;

}

.new-events  {
  color: red;
  font-weight: bold;
}

body {
background-color:#F5EAEA;
}


.modal-header  {
    word-wrap: break-word;
}

.modal-body  {
    word-wrap: break-word;
}


.menu-group  {
    background:#C7E1C8;
}

.group  {
    word-wrap: 
    break-word;

    background:#C7E1C8;
}

#pinned-cards a {
padding: 4px !important;
}


body { 
    margin-bottom: 60px 
}


