.board-ancestor {
word-wrap: 
break-word;

background-color:#C2D5F5;
}


.board {
word-wrap: 
break-word;

background-color:white;
}

.list-ancestor {
word-wrap: 
break-word;

background-color:#C2D5F5;

}

.list {
word-wrap: 
break-word;

background-color:white;

}

.pin-list {
color:#2A4FA4;

}

.pin-card {
color:#5E666F;

}

.pin-board {
color:#05163D;

}

.card-ancestor {
word-wrap: 
break-word;

background-color:#C2D5F5;

}

.card {
word-wrap: 
break-word;

background-color:#F4F0E5;

}

.fork {
word-wrap: 
break-word;

}

.new-events  {
  color: red;
  font-weight: bold;
}

body {

background-color:#93BCFF;
}


.modal-header  {
    word-wrap: break-word;
}

.menu-timeline  {
    background:#C2D5F5;
}

.menu-organization  {
    background:#C2D5F5;
}

.menu-timeline  {
    background:#C2D5F5;
}

.timeline  {
    word-wrap: 
    break-word;

    background:white;
}




