.board-ancestor {
word-wrap: 
break-word;
background-color:#DCD6D8;
}


.board {
word-wrap: 
break-word;

background-color:#C0B8A9;
}

.list-ancestor {
word-wrap: 
break-word;

background-color:#C0B8A9;

}

.list {
word-wrap: 
break-word;

background-color:#F8FCB1;

}

.card-ancestor {
word-wrap: 
break-word;

background-color:#F8FCB1;

}

.card {
word-wrap: 
break-word;

background-color:#F4F0E5;

}

.fork {
word-wrap: 
break-word;

}

a.new-events  {
  color: red;
  font-weight: bold;
}

body {

background-color:#C7C7C7;
}


.timeline {
word-wrap: 
break-word;

background-color:#DCDFF2;

}

.modal-header  {
    word-wrap: break-word;
}
