.board-ancestor {
word-wrap: 
break-word;
background-color:#DCD6D8;
}


.board {
word-wrap: 
break-word;

background-color:#B2BFD1;
}

.list-ancestor {
word-wrap: 
break-word;

background-color:#B2BFD1;

}

.list {
word-wrap: 
break-word;

background-color:#D5D0B9;

}

.pin-list {
color:#82742A;

}

.pin-card {
color:#5E666F;

}

.pin-board {
color:#3669AD;

}

.card-ancestor {
word-wrap: 
break-word;

background-color:#D5D0B9;

}

.card {
word-wrap: 
break-word;

background-color:#F4F0E5;

}

.fork {
word-wrap: 
break-word;

}

a.new-events  {
  color: red;
  font-weight: bold;
}

body {

background-color:#C7C7C7;
}


.timeline {
word-wrap: 
break-word;

background-color:#CABABA;

}

.modal-header  {
    word-wrap: break-word;
}


