
.board {
font-size:93%;
background-color:#C0B8A9;
}

.list-ancestor {
font-size:93%;
background-color:#C0B8A9;

}

.list {
font-size:93%;
background-color:#F8FCB1;

}

.card-ancestor {
font-size:93%;
background-color:#F8FCB1;

}

.card {
font-size:93%;
background-color:#F4F0E5;

}

.fork {
font-size:93%;

}
