{% load bootstrap3 %}
{% load i18n %}

<script>
function send_file() {
   var formData = new FormData($('#NoteFileWrapperForm-{{note.id}}')[0]);

   $.ajax({
   url: '{% url 'note_app:attach-file' note.id  %}', 
   type: 'POST',
   success: function(data) {
   $('#note-attachments-{{note.id}}').html(data);},
   data: formData,
   cache: false,
   contentType: false,
   processData: false});
}

$('#NoteFileWrapperForm-{{note.id}}').change(function(){
    send_file();
});

</script>

<form id="NoteFileWrapperForm-{{note.id}}" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.file  size='md' %}

</form>

{% for ind in attachments %}
<a class="e-get" data-shell="#note-attachments-{{note.id}}" href="#"
data-show="{% url 'note_app:detach-file' ind.id %}"> 
<span class="glyphicon glyphicon-remove"></span></a> {{ind.file.name}}
{% empty %}
No attachments.
{% endfor %}







