{% load bootstrap3 %}
{% load i18n %}

<form id="form-note-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> 
<span class="glyphicon glyphicon glyphicon-comment"></span>
 Note </h4>
</div>

<div class="modal-body">

{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

</div>
</form>


<div class="modal-footer">
{% block buttons %}

<button  type="button" data-show="{% url 'note_app:list-notes' card.id %}"
class="btn btn-default e-get"> 
     {% trans "Back" %}
</button>

<button  type="button" data-form="#form-note-data" 
data-show="{% url 'note_app:create-note' card.id %}"
class="btn btn-default e-post"> 
     {% trans "Create" %}
</button>
{% endblock %}
</div>







