{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}">
<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> has attached file <a href="{{event.filewrapper.file.url}}" target="_blank"> 
<span class="glyphicon glyphicon-file"></span>

{{event.filewrapper.file}} </a> to 

<a class="e-get"
data-callback="$('#smallModal').modal('toggle');$('#bigModal').modal('show');" 
data-shell="#bigModalContent" 
data-show="{% url 'note_app:preview-note' event.note.id %}" 
href="{{event.note.get_link_url}}"> 
<span class="glyphicon glyphicon-book"></span> Note </a> 

on {{event.created}}

{% endblock %}


