{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h4 class="modal-title">
<span class="glyphicon glyphicon-comment"></span>
Notes on card {{card.label|slice:":30"}}.. 
<span class="badge">{{records.count}}</span>
</h4>
</div>

<div class="modal-body pre-scrollable">

{% for ind in records %}
{% include 'note_app/note.html' with note=ind %}
{% endfor %}

</div>
<div class="modal-footer" >
<button  type="button" 
data-show="{% url 'note_app:create-note' card.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Create" %} </button>

</div>


