{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5 class="modal-title">
<span class="glyphicon glyphicon-comment"></span>
Notes on card <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} 

<span class="badge">{{records.count}}</span>
</h5>
</div>

<div class="modal-body pre-scrollable">

{% for ind in records %}
{% include 'note_app/note.html' with note=ind %}
{% endfor %}

</div>
<div class="modal-footer" >
<button  type="button" data-shell="#bigModalContent" 
data-show="{% url 'card_app:view-data' card.id %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>

<button  type="button" 
data-show="{% url 'note_app:create-note' card.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Create" %} </button>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>










