{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="panel panel-default">
  <div class="panel-body">

<p style="font-size:80%"> 
<span class="glyphicon glyphicon-comment"></span> 

By 
<a href="#" data-toggle="popover" data-trigger="hover" title="{{note.owner.email}}"  data-content="{{note.owner.description}}"> {{note.owner.name}} </a>
on <a href="{{note.get_link_url}}" target="_blank"> {{note.created}} </a>

</p>

<div style="word-wrap: break-word;"> 

{{note.html | safe}}

</div>

<span  style="font-size:80%">
<div id="note-attachments-{{note.id}}" style="min-height:50px;"> </div>

<script> 
$.get({ 
url: "{% url 'note_app:attach-file' note.id %}",
async: true},

function(data) {
    $('#note-attachments-{{note.id}}').html(data);
});
</script> 

</span>

<br>

<a href="#"
data-show="{% url 'note_app:update-note' note.id %}"
data-shell="#bigModalContent" 
class="text-warning e-get"> 
<span class="glyphicon glyphicon-edit"></span> 
{% trans "Update" %} </a>

<a href="#"
data-show="{% url 'note_app:delete-note' note.id %}"
data-shell="#bigModalContent" 
class="text-danger e-get"> 
<span class="glyphicon glyphicon-remove"></span> 

{% trans "Remove" %} </a>

</div>


</div>

