{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-file"></span> Change by 
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}"> {{event.user.name}} </a> 

</a>
on <a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'note_app:preview-note' note.id %}" 
href="{{event.note.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> Note </a>

from card <a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'card_app:view-data' card.id %}" 
href="{{event.card.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:40}} </a>

</div>

<div class="modal-body">
<div class="panel panel-default">

<div class="panel-body">
{{event.note_html | safe}}

<form id="restoreNoteForm"> {% csrf_token %} </form>
<a href="#" data-shell="#bigModalContent" data-form="#restoreNoteForm"  data-show="{% url 'note_app:restore-note' event.id  %}"
class="e-post"> <span class="glyphicon glyphicon-repeat"></span> Restore changes? </a>

</div>


</div>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>






