{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="panel panel-default">
  <div class="panel-body">

<p style="font-size:80%"> 
<span class="glyphicon glyphicon-comment"></span> 

By {{note.owner.name}} at {{note.created}} 

</p>

<div style="word-wrap: break-word;"> 

{{note.html | safe}}

</div>

<div  style="font-size:80%">
{% for ind in note.notefilewrapper_set.all %}
<a href="{{ ind.file.url }}" target="_blank">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} 
</a>
{% empty %}
No attachments...

{% endfor %}
</div>

<br>

<a href="#"
data-show="{% url 'note_app:update-note' note.id %}"
data-shell="#bigModalContent" 
class="text-warning e-get"> 
<span class="glyphicon glyphicon-edit"></span> 
{% trans "Update" %} </a>

<a href="#"
data-show="{% url 'note_app:delete-note' note.id %}"
data-shell="#bigModalContent" 
class="text-danger e-get"> 
<span class="glyphicon glyphicon-remove"></span> 

{% trans "Remove" %} </a>

</div>
</div>








