{% load bootstrap3 %}
{% load static %}

{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-comment"></span> 
Note on card 

<a href="{{card.get_link_url}}" data-shell="#bigModalContent" data-show="{% url 'card_app:view-data' card.id %}"
class="e-get">  <span class="glyphicon glyphicon-file"></span> {{card.label|truncatechars:60}} </a>

</div>

<div class="modal-body pre-scrollable">
{% include 'note_app/note.html' %}
</div>

<div class="modal-footer" >
<button  type="button" 
data-show="{% url 'note_app:list-notes' card.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Notes" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>






