{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

Comment 

<span class="text-info">
<span class="glyphicon glyphicon-comment"></span>

{{event.comment.data | truncatechars:40}}
</span>

 created on target

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'target_app:target' event.target.id %}" href="#"> 
<span class="glyphicon glyphicon-file"></span>
{{event.target.label}} </a>  by 

<span class="glyphicon glyphicon-user"></span> {{user.name}} 

{{event.user}} on {{event.created}}

{% endblock %}








