{% load i18n %}

<div>
<small> 
<b class="text-warning"> *Commented* </b> </small>
{{event.event.html|safe|safe}}
</div>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>










