{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
Comment <a class="e-get"
data-shell="#bigModalContent" 
data-show="{% url 'comment_app:comment' event.comment.id %}" href="{{event.comment.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.comment.title}} </a> ...

<a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'comment_app:comment-diff' event.id %}" 
href="{{event.comment.get_link_url}}"> 
<span class="glyphicon glyphicon-check"></span> Diff </a>? was updated on post

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.child.id %}" 
href="{{ event.child.get_link_url }}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.child.label|truncatechars:40}} </a> 

{% endblock %}



































