{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

{% block title %}
<h4 class="modal-title">
<span class="glyphicon glyphicon-comment"></span>
Comments on event {{event.label|slice:":30"}}.. 
<span class="badge">{{records.count}}</span>
</h4>

{% endblock %}

</div>

<div class="modal-body pre-scrollable">

{% for ind in records %}
<div style="word-wrap: break-word;"> 

<p> <a href="#" title="{{ind.created}}"> {{ind.user.name}}: </a>
{{ind.data}} 
{% if ind.file %} 
<br>
<span style="color:red"> Attachment: </span>
<a  href="{{ ind.file.url }}"  target="_blank"> {{ind.file.name}} </a>
{% endif %}
<br>
<em class="text-info" style="font-size:70%; "> 
On {{ind.created}}</em>

</p>


</div>

{% endfor %}

</div>

<div class="modal-footer" >
<form id="eventCommentForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.data layout='inline' size='sm' %}
{% bootstrap_field form.file layout='inline' size='sm' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<button type="button" 
data-show="{% url 'core_app:list-events' %}"
class="btn btn-default s-modal">  Back </button>

<button  id="sendeventComment" type="button" 
data-form="#eventCommentForm" 
data-show="{% url 'comment_app:create-comment' event.id %}"
class="btn btn-default m-post">  {% trans "Send" %} </button>


<script>
$('#eventCommentForm').on('submit', (function(e){
    e.preventDefault();
        $('#sendeventComment').click();

}));
$('#id_data').focus();
</script>


</div>





