{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{member.name}}'s boards <span class="badge">{{count}}/{{total}}</span> </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in excluded %}
<p>
<a class="e-get" data-form="#boardSearchForm" data-show="{% url 'board_app:create-member-boardship' ind.id member.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a> 

<b> {{ind.name}} </b>
{{ind.description}}
</p>
{% empty %}
<p> No boards to bind. </p>

{% endfor %}

</div>

<br> 
<form id="boardSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button  type="button" class="btn btn-default e-get" data-show="{% url 'board_app:unbind-member-boards' member.id %}"> 
<span class="glyphicon glyphicon-arrow-left"></span> {% trans "Back" %} </button>


<button  type="button" data-form="#boardSearchForm" data-shell="#smallModalContent" 
data-show="{% url 'board_app:bind-member-boards' member.id  %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-search"></span>
{% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span> {% trans "Close" %}
</button>
</div>

</div>


