{% load i18n %}


<div class="btn-group btn-group-xs">
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span> </button>
<ul class="dropdown-menu" role="menu">

<li><a class="e-get" 
data-shell="#modalContent" 
data-show="{% url 'board_app:update-board' board.id %}" 
data-callback="$('#modal').modal('show');" 
href="#"> 
<span class="glyphicon glyphicon-edit"></span> 
{% trans "Update" %}</a></li>


<li class="divider"></li>
<li><a class="e-get" 
data-shell="#modalContent" 
data-show="" 
data-callback="$('#modal').modal('show');" 
href="#"> 
<span class="glyphicon glyphicon-stats"></span> 
{% trans "stats" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" 
data-shell="#modalContent" 
data-callback="$('#modal').modal('show');" 
data-show="{% url 'board_app:manage-board-users' board.id %}" 
href="#"> <span class="glyphicon glyphicon-user"></span> 
{% trans "Members" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#main-view" 
data-shell="#main-view"
data-show="{% url 'board_app:done' board.id %}" 
href="#"> <span class="glyphicon glyphicon-ok-circle"></span> 
{% trans "Done" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#main-view" 
data-show="{% url 'board_app:delete-board' board.id %}" 
href="#"> <span class="glyphicon glyphicon-remove"></span> 
{% trans "Delete" %}</a></li>
<li class="divider"></li>

<li><a class="e-get" data-shell="#main-view" 
data-show="{% url 'board_app:paste-lists' board.id %}" 
href="#"> <span class="glyphicon glyphicon-paste"></span> 
{% trans "Paste" %}</a></li>

</ul>
</div>














