{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
{% block title %}
Create Labor
{% endblock %}
</div>

<div class="modal-body">
<form id="form-organization-data" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
{% block buttons %}
<button  type="button" data-form="#form-organization-data" 
data-callback="window.location='{% url 'board_app:index' %}';" 
data-shell-error="#modalContent" 
data-show="{% url 'board_app:create-organization' user.id %}"
class="btn btn-default e-post">  {% trans "Create" %} </button>
{% endblock %}
</div>










