{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>

{% block title %}
<h4> <span class="glyphicon glyphicon glyphicon-th"></span> Board </h4>
{% endblock %}

</div>

<div class="modal-body">
<form id="form-board-data" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_field form.description  size='md' %}
{% bootstrap_field form.open  size='sm' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>
</div>

<div class="modal-footer">
{% block buttons %}
<button  type="button" 
data-form="#form-board-data" 
data-shell="#main-view" 
data-shell-error="#smallModalContent" 
data-show="{% url 'board_app:create-board' %}"
class="btn btn-default e-post">  {% trans "Create" %} </button>
{% endblock %}
</div>



















