{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
Board
<a class="e-get"
data-shell="#main-view"
data-show="{% url 'board_app:list-boards'  %}"
href="#"> 
<span class="glyphicon glyphicon-th"></span>
{{event.child.name|truncatechars:40}} </a> archived on organization

<span class="glyphicon glyphicon-flag"></span> {{event.organization.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> on {{event.created}}

{% endblock %}



























