{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has pasted lists

{% for ind in event.lists.all %}
<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'card_app:list-cards' ind.id %}" href="#"> 
<span class="glyphicon glyphicon-list-alt"></span>
{{ind.name|truncatechars:40}}
</a> 

{% endfor %}
 

on board

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.board.id %}" href="#"> 
<span class="glyphicon glyphicon-th"></span>
{{event.board.name}} </a> 

on {{event.created}}

{% endblock %}








