{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has unbinded 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="Score: value">

<span style="color:red">
<span class="glyphicon glyphicon-user"></span>
{{event.peer.name}} </span> </a> from board

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.board.id %}" href="#"> 
<span class="glyphicon glyphicon-th"></span> {{event.board.name}} </a>  

on {{event.created}}

{% endblock %}










