{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="Score: value">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has updated board

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'list_app:list-lists' event.board.id %}" href="{{event.board.get_link_url}}"> 
<span class="glyphicon glyphicon-th"></span> {{event.board.name}} </a>  

on {{event.created}}

{% endblock %}













