{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>Find Cards/Lists/Boards  </h4>
</div>

<div class="modal-body">


<div class="pre-scrollable">

{% for ind in staffs %}
<p><a style="color:red;" href="#"><span class="glyphicon glyphicon-remove"></span></a>  {{ind.name}} 
<br><span style="color:blue;font-size:70%"> {{ind.email}} </span></p>
{% empty %}
<p> ... </p>
{% endfor %}

</div>

</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>





