{% load i18n %}

<div id="pins">
<ul class="nav nav-pills" id="pinned-cards" style="font-size:80%">


<li><a class="e-get" style="color:#418C06"
data-shell="#main-view"
data-show="{% url 'board_app:list-boards' %}" href="#">
<span class="glyphicon glyphicon-flag"></span> {{user.default.name}}</a></li>

{% for ind in pins %}

{% if ind.board %}
{% include 'board_app/list-pins-board.html' %}
{% elif ind.list %}
{% include 'board_app/list-pins-list.html' %}
{% elif ind.card%}
{% include 'board_app/list-pins-card.html' %}
{% endif %}

{% endfor %}

</ul>

</div>

<!--
// <script>
// $( function() {
// $( "#pinned-cards" ).sortable({
    // helper: "clone",
    // axis:'x'});
// });
// </script>
-->

