{% load i18n %}

<div id="pins">
<ul class="nav nav-pills" id="pinned-cards" style="font-size:80%">


<li><a class="e-get disabled" style="color:black; pointer-events: none;" href="#">
<span class="glyphicon glyphicon-paperclip"></span> Pins:</a></li>

{% for ind in pins %}

{% if ind.board %}
{% include 'board_app/list-pins-board.html' %}
{% elif ind.list %}
{% include 'board_app/list-pins-list.html' %}
{% elif ind.card%}
{% include 'board_app/list-pins-card.html' %}
{% elif ind.timeline %}
{% include 'timeline_app/list-pins-timeline.html' %}
{% endif %}

{% endfor %}

</ul>

</div>

<!--
// <script>
// $( function() {
// $( "#pinned-cards" ).sortable({
    // helper: "clone",
    // axis:'x'});
// });
// </script>
-->




