{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available board <span class="glyphicon glyphicon-th"></span> {{board.name|truncatechars:60}}'s users </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in included %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
<img style="margin:auto" class="img-responsive" src="{{ind.avatar.url}}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

<a class="e-get" style="color:red"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'board_app:unbind-board-user' board.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a>  

</td>
</tr>
{% endfor %}

{% for ind in excluded %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{{ind.avatar.url}}" />
</td>
<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p><a href="#"> {{ind.email}} </a> </p>

<a class="e-get"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'board_app:bind-board-user' board.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Bind </a> 

</td>
{% endfor %}

</table>
</div>

<br> 
<form id="bind-board-search-form" enctype="multipart/form-data">

{% csrf_token %}

{% bootstrap_field form.name  size='md' layout='inline' %}

{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">

<button  type="button" data-form="#bind-board-search-form" 
data-shell="#modalContent" 
data-shell-error="#modalContent" data-show="{% url 'board_app:manage-board-users' board.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>




