{% extends 'post_app/manage-post-workers-list-user-choices.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block action_included %}
<a class="e-get" style="color:red"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'board_app:unbind-board-user' board.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a>  

{% endblock %}

{% block action_excluded %}
<a class="e-get"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'board_app:bind-board-user' board.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Bind </a> 

{% endblock %}





