{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{user.name}}'s Boards <span class="badge">{{count}}/{{total}}</span></h5>
</div>

<div class="modal-body">
<div class="pre-scrollable">
{% for ind in included %}
<p>
<a class="r-post" style="color:red" data-form="#boardSearchForm"
data-show="{% url 'board_app:unbind-user-board' ind.id user.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a> 

<b> {{ind.name}} </b>
{{ind.description}}
</p>
{% empty %}
<p> ... </p>

{% endfor %}

{% for ind in excluded %}
<p>
<a class="r-post" data-form="#boardSearchForm"
data-show="{% url 'board_app:bind-user-board' ind.id user.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a> 

<b> {{ind.name}} </b>
{{ind.description}}
</p>
{% empty %}
<p> ... </p>

{% endfor %}

</div>

<br> 
<form id="boardSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
{% block buttons %}

<button  type="button" 
data-shell="#smallModalContent" 
data-show="{% url 'core_app:list-users'  %}"
class="btn btn-default e-get"> {% trans "Back" %} </button>
{% endblock %}

<button  type="button" data-form="#boardSearchForm" data-shell="#smallModalContent" 
data-show="{% url 'board_app:manage-user-boards' user.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>



