{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>
<span class="glyphicon glyphicon-paperclip"></span>

Lists on Clipboard 
<span class="badge">{{total}}</span>
</h4>
</div>


<div class="modal-body">
<div class="pre-scrollable">
{% for ind in lists %}

<p> 
<span class="glyphicon glyphicon-list-alt"></span>

{{ind.name}} 
<br>

<small>
<a class="e-get" data-show="{% url 'board_app:paste-list' board.id ind.id %} "
href="#"> <span class="glyphicon glyphicon-paste"></span> Paste</a>
</small>

</p>
{% empty %}
No lists.
{% endfor %}
</div>

</div>

<div class="modal-footer">
<script>
$('#mediumModal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'list_app:list-lists' board.id  %}');
})
</script>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>




















