{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
{{board.name|truncatechars:20}}'s Members 
<span class="badge">{{count}}/{{total}}</span>
</h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in included %}
<p class="text-center">
<img class="img-responsive center-block"  width="50" height="50"  src="{% avatar ind.avatar %}" />
{{ind.name}}  
<br>

<small> {{ind.email}} </small>   <br>

<a class="e-get" style="font-size:70%"  data-show="{% url 'board_app:set-boardship-member' board.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-cog"></span> Settings</a>  

</p>

{% endfor %}

</div>

<br>

<form id="memberSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<a href="#" data-show="{% url 'board_app:bind-board-members' board.id %}" class="e-get"> 
 <span class="glyphicon glyphicon-send"></span> Bind Members? </a>

</div>


<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button type="button" data-form="#memberSearchForm" 
data-show="{% url 'board_app:unbind-board-members' board.id  %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-search"></span>
{% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
<span class="glyphicon glyphicon-thumbs-down"></span> {% trans "Close" %}
</button>
</div>

</div>


