{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h5>  <span class="glyphicon glyphicon glyphicon-cog"></span> Settings </h5>

</div>

<div class="modal-body">
<form id="boardForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_field form.description  size='md' %}
{% bootstrap_field form.public  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>
{% if board.open %}  
<p class="text-info"> This board is open.  </p>
{% endif %}
</div>

<div class="modal-footer">
<div class="btn-group btn-group-sm">

<button  type="button"  data-show="{% url 'board_app:delete-board' board.id %}" class="btn btn-danger e-get"> 
<span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %} </button>

<button  type="button" data-form="#boardForm" data-shell="#main-view" 
data-show="{% url 'board_app:update-board' board.id %}"
class="btn btn-default e-post"> <span class="glyphicon glyphicon-edit"></span> {% trans "Update" %}
</button>
</div>

</div>


