{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h5>  <span class="glyphicon glyphicon glyphicon-cog"></span> Settings </h5>

</div>

<div class="modal-body">
<form id="form-board-data" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_field form.description  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

</form>
{% if board.open %}  
<p class="text-info"> This board is open.  </p>
{% endif %}
</div>

<div class="modal-footer">
<button  type="button" 
data-show="{% url 'board_app:delete-board' board.id %}"
class="btn btn-danger e-get"> 
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-board-data" data-shell="#main-view" 
data-show="{% url 'board_app:update-board' board.id %}"
class="btn btn-default e-post"> 
{% trans "Update" %}
</button>

</div>







