
{% extends "board_app/create-board.html" %}
{% load i18n %}

{% block title %}
<h5> 
<span class="glyphicon glyphicon glyphicon-cog"></span>
{{board.name}}'s settings </h5>
{% endblock %}


{% block buttons %}
<button  type="button" 
data-form="#form-board-data" 
data-shell="#main-view" 
data-callback="$('#smallModal').modal('toggle');" 
data-shell-error="#smallModalContent" 
data-show="{% url 'board_app:update-board' board.id %}"
class="btn btn-default e-post"> 
{% trans "Update" %}
</button>
{% endblock %}























