{% load bootstrap3 %}
{% load i18n %}

<form id="form-timeline-data" enctype="multipart/form-data">
<div class="modal-header">

{% block title %}

<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5 class="modal-title">
<span class="glyphicon glyphicon-eye-open"></span>
 Timeline</h5>
{% endblock %}

</div>
<div class="modal-body">
{% csrf_token %}
{% bootstrap_field form.name  size='sm' %}
{% bootstrap_field form.description  size='sm' %}

</div>
</form>

<div class="modal-footer">
{% block buttons %}
<button  type="button" data-form="#form-timeline-data" 
data-shell="#main-view" data-callback="$('#modal').modal('toggle');" 
data-shell-error="#modalContent" data-show="{% url 'timeline_app:create-timeline' organization_id %}"
class="btn btn-default e-post"> 
{% trans "Create" %}
</button>

{% endblock %}
</div>















