{% load i18n %}

<ul class="nav nav-pills ul-menu-posts" style="background:#DADDDD;">

<li class="disabled">
<a href="#"> <span class="glyphicon glyphicon-flag"></span>  <b>
{{organization.name}}'s Timelines: <span class="badge">{{children.count}}/{{total.count}}</span></b> </b></a> 
</li>

<li class="divider"></li>


<li>
<a  class="s-modal" data-show="{% url 'timeline_app:create-timeline' organization.id %}"
href="#"><span class="glyphicon glyphicon-plus"></span> {% trans "Timeline" %}</a></li>

<li>
<a href="#" class="s-modal" data-shell="#modalContent" 
data-show="{% url 'timeline_app:setup-timeline-filter' organization.id %}" 
{% if filter.status %}
<span class="glyphicon glyphicon-filter"></span> 
Filter
{% else %}
<strike> 
<span class="glyphicon glyphicon-filter"></span> 
Filter </strike>

{% endif %}

</a>
</li>
<li><a href="#" class="s-modal"  data-show="{% url 'core_app:list-users' user.default.id %}">
<span class="glyphicon glyphicon-user"></span> Members  </a> </li>

<li><a href="#" class="s-modal"  data-show="{% url 'core_app:update-organization' user.default.id %}">
<span class="glyphicon glyphicon-cog"></span> Settings </a></li>

<li><a class="s-modal" data-show = "{% url 'core_app:list-clipboard' %}" href="#">
<span class="glyphicon glyphicon-magnet"></span> {% trans "Clipboard" %}</a></li>

</ul>




















