{% load i18n %}

<ul class="nav nav-pills ul-menu-posts" style="background:#DADDDD;">

<li class="disabled">
<a  href="#"> <b><span class="glyphicon glyphicon-flag"></span>  
{{organization.name|slice:":20"}}'s Posts: <span class="badge">{{count}}/{{total}}</span></b></a>
</li>

<li> <a class="e-get" data-show="{% url 'timeline_app:list-timelines' %}"
data-shell="#main-view" data-show="" href="#">
<span class="glyphicon glyphicon glyphicon-arrow-up clip"></span> Up
</a>
</li>

<li class="divider"></li>

<li> <a class="s-modal" data-show="{% url 'post_app:setup-global-post-filter' %}" href="#">
{% if filter.status %}
<span class="glyphicon glyphicon-filter"></span> 
Filter
{% else %}
<strike> 
<span class="glyphicon glyphicon-filter"></span> 
Filter </strike>
{% endif %}

</a></li>

</ul>





























