{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{timeline.name}}'s users </h5>
</div>

<div class="modal-body">
{% include 'timeline_app/manage-timeline-users-list-choices.html' %}

</div>

<br> 

<form id="bind-timeline-search-form" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.name  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">

<button  type="button" data-form="#bind-timeline-search-form" 
data-shell="#modalContent" 
data-shell-error="#modalContent" data-show="{% url 'timeline_app:manage-timeline-users' timeline.id  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>









