<div class="panel panel-default" 
style="background-color:#DCDFF2">


<div class="panel-body text-center">

<p> <span class="glyphicon glyphicon glyphicon-eye-open clip">
</span> 

<a class="e-get" href="#" data-shell="#main-view" data-show="{% url 'timeline_app:list-posts' timeline.id %}" >
{{timeline.name}} </a>

<span class="text-info">
{% if timeline.description %} <br>{{timeline.description}} {% endif %}
</span>

</p>

<small>

By <a href="#" data-toggle="popover" data-trigger="hover" title="{{timeline.owner}}"  data-content="Score: value">
{{timeline.owner}} </a> at {{timeline.created}}
</small>


</div>
</div>















