<div class="panel panel-default timeline" >

<div class="panel-body text-center">

<p> <span class="glyphicon glyphicon glyphicon-eye-open clip">
</span> 

<a class="e-get" href="{{timeline.get_link_url}}" data-shell="#main-view" data-show="{% url 'timeline_app:list-posts' timeline.id %}" >
{{timeline.name}} 
<br>{{timeline.description}}</a></p>

<small>

By <a href="#" data-toggle="popover" data-trigger="hover" title="{{timeline.owner}}"  data-content="Score: value">
{{timeline.owner}} </a> at {{timeline.created}}
</small>


</div>
</div>
















