{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5 class="modal-title">
<span class="glyphicon glyphicon-cog"></span>
{{timeline.name}}'s settings</h5>

</div>

<div class="modal-body">
<form id="form-timeline-data" enctype="multipart/form-data">

{% csrf_token %}
{% bootstrap_field form.name  size='sm' %}
{% bootstrap_field form.description  size='sm' %}
</form>

{% if timeline.open %}  
<p class="text-info"> This timeline is open.  </p>
{% endif %}

</div>


<div class="modal-footer">
<button  type="button" data-show="{% url 'timeline_app:delete-timeline' timeline.id %}"
class="btn btn-danger s-modal"> 
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-timeline-data" 
data-shell="#main-view" data-show="{% url 'timeline_app:update-timeline' timeline.id %}"
class="btn btn-default m-post-close"> 
{% trans "Update" %}
</button>

</button>

</div>





