
{% extends "timeline_app/create-timeline.html" %}
{% load i18n %}

{% block title %}
<h5 class="modal-title">
<span class="glyphicon glyphicon-eye-open"></span>
Update {{timeline.name}}</h5>
{% endblock %}

{% block buttons %}

<button  type="button" data-show="{% url 'timeline_app:delete-timeline' timeline.id %}"
class="btn btn-danger s-modal"> 
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-timeline-data" 
data-shell="#main-view" data-show="{% url 'timeline_app:update-timeline' timeline.id %}"
class="btn btn-default m-post-close"> 
{% trans "Update" %}
</button>

{% endblock %}






















