{% extends 'timeline_app/user.html' %}
{% load static %}

{% block buttons %}

<div class="btn-group btn-group-xs">
<button type="button"  data-show="{% url 'timeline_app:unbind-user' timeline.id user.id %}"
data-shell="#main-view" 
class="btn btn-danger btn-xs e-get">
<span class="glyphicon glyphicon-edit"></span> Remove </button>

<button type="button"  data-show="{% url 'core_app:list-user-tags' user.id %}"
data-shell="#modalContent" 
data-toggle="modal" data-target="#modal"
class="btn btn-info btn-xs e-get">
<span class="glyphicon glyphicon-cog"></span> Settings </button>

{% endblock %}







