

<div class="container text-center">
<h3>Abstract to divide, divide to conquer!</h3> 
<div style="color:grey;"> 
Delegate like a boss with arcamens!

</div>

{% include 'site_app/features.html' %}

</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Kanban methodology </h1>
<div style="color:grey;"> 

<p>
With arcamens you can apply kanban strategy easily due to its new concept of kanban boards,
arcamens boards are quite a different and powerful manner of doing kanban.
</p>
</div>

</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">
<h1> Scrum methodology </h1>
<div style="color:grey;"> 

<p>
With arcamens boards and timelines you can apply scrum strategy in many different ways thus
achieving the best productivity.
</p>

</div>


</div>
</div>


<div class="row ">
<div class="col-md-6 text-left">
<h1> Custom integration </h1>
<div style="color:grey;"> 

<p>
It is possible to integrate arcamens with any web based application, arcamens provides
a mean of companies automatizing communication with their customers thus favouring productivity
and improving its services. 
</p>
</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">
<h1> Software development </h1>
<div style="color:grey;"> 

<p>
Arcamens provide a smart and powerful way to integrate with your favourite version control system, 
it remains...
</p>
</div>

</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Productivity </h1>
<div style="color:grey;"> 

<p>
Arcamens provides flexible ways of keeping track of workers's activity and
performance. 

</p>

<p>
Knowing your employees's skills and behavioral styles is essential for maximizing efficiency.
Arcamens allows user skills tagging which is a powerful tool for quickly looking up the perfect
matches to accomplish a given task.
</p>

</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1>  Information Scope</h1>
<div style="color:grey;"> 

<p>
You can create a task and assign it to people who are outside
the board or timeline.
</p>

</div>
</div>
</div>


