

<div class="container text-center">
<h3>Abstract to divide, divide to conquer!</h3> 
<div style="color:grey;"> 
Model your business workflow seanlessly with arcamens.
</div>


<div class="row ">
<div class="col-md-6 text-left">
<h1> Kanban Methodology </h1>
<div style="color:grey;"> 

<p>
With arcamens you can apply kanban strategy in a quite powerful manner.
Arcamens boards implement a different and powerful manner of visualizing kanban boards.
</p>
</div>

</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">
<h1> Scrum Methodology </h1>
<div style="color:grey;"> 

<p>
With arcamens boards and timelines you can apply scrum strategy in many different ways. Ideas, suggestions, 
user stories can go over timelines where features can be prioritized.
</p>

</div>


</div>
</div>


<div class="row ">
<div class="col-md-6 text-left">
<h1> Timelines </h1>
<div style="color:grey;"> 

<p>
Timelines can play several roles when designing a business workflow.
When mixed up with arcamens's boards it is a powerful tool for
optmizing the workings of a business. Timelines's posts can be
used to delegate tasks, notify events, sharing information or social interaction.
Not all business demand the usage of boards for task delegation thus timelines
can be used to integrate different kind of sectors.
Board cards can be forked into timeline posts it allows integrating all sectors
of your business painlessly no matter if you own a small or a large business, 
timelines will be a powerful tool.
</p>
</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1> Boards </h1>
<div style="color:grey;"> 

<p>
Arcamens's boards are dispalyed in a new and powerful manner. It gives the users a perfect perspective
of lists and cards. It is simple to move, copy cards and lists around boards,
You can fork a card into multiple cards/posts, these subtasks can be over other boards,
such a mechanism allows an ideal approach for task delegation between 
multiple sectors of a business.
</p>
</div>

</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Tags </h1>
<div style="color:grey;"> 

<p>
Arcamens provides tagging mechanisms for timelines's posts and boards's cards as well
as user tagging. It allows a high level of organization and a powerful search
tool.
</p>


</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>  Event System</h1>
<div style="color:grey;"> 

<p>
Arcamens has a powerful event system, whatever it happens everyone will
be notified of. It allows managers to easily keep track of what employees
are doing and how them are doing as well giving feedback quickly. 
Every worker action generates an event, such events can be commented out
by you. It makes all kind of worker's actions to be criticized in an organized
manner thus improving your workers's performance and work quality.
</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Mobile </h1>
<div style="color:grey;"> 
Arcamens UI was carefully designed to be intuitive and highly flexible
it works seamlessly over mobiles with suble differences. 
<p>
</p>


</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>Organizations</h1>
<div style="color:grey;"> 

<p>
Arcamens allows multiple organizations attached to a given account. You can have
as many organizations as you want regardless of the plan you pay for. You can easily
integrate all your business's branches effortless.
</p>

</div>
</div>
</div>
</div>






