

<div class="container text-center">
<h3>Abstract to divide, divide to rule!</h3> 
<div style="color:grey;"> 
Ideal for all teams whose main goals are flexibility and productivity.
</div>


<div class="row ">
<div class="col-md-6 text-left">
<h1> Agile Methodologies </h1>
<div style="color:grey;"> 

<p>
Arcamens allows you to apply many agile methodologies It doesn't enforce
a specific one. The goals behind Arcamens UI and tools were to boost the customer
flexibility when designing the business workflow. You don't need to know
any agile methodology at all to come up with a strong strategy to rule your business
employees. 
</p>
</div>

</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">
<h1> Scrum Methodology </h1>
<div style="color:grey;"> 

<p>
With arcamens boards and groups you can apply scrum methodology in many different ways. Ideas, suggestions, 
user stories can go over groups where features can be prioritized or forked into kanban board cards.
</p>

</div>


</div>
</div>


<div class="row ">
<div class="col-md-6 text-left">
<h1> Groups </h1>
<div style="color:grey;"> 

<p>
Groups can play several roles when designing a business workflow.
When mixed up with arcamens's boards it is a powerful tool for
optmizing the workings of a business. Groups's posts can be
used to delegate tasks, notify events, sharing knowledge or social interaction.
Not all business demand the usage of boards for task delegation thus groups
can be used to integrate all your business sectors.
</p>
</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1> Kanban Boards </h1>
<div style="color:grey;"> 

<p>
Kanban boards have been the ultimate tool to boost teams productivity in the past years.
Arcamens's boards are displayed in a new and powerful manner. It gives the users a perfect perspective
of lists and cards. There is no such a thing like drag&drop for moving cards around, it implements the
concept of clipboard, you copy, cut and paste cards or lists it increases productivity in an impressive manner.
Cards are displayed under the perfect perspective to favour the worker cognition. 
The worker can easily browse card forks or parents. Cards can be mentioned by links from other cards,
it creates relations which show up altogether with other relevant information.
</p>
</div>

</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Tags </h1>
<div style="color:grey;"> 

<p>
Arcamens provides tagging mechanisms for groups's posts and boards's cards as well
as user tagging. Information is not information when it is not well classified thus
tagging mechanism allows a high level of organization which entails better productivity.
</p>


</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>  Event System</h1>
<div style="color:grey;"> 

<p>
Collaborative work is all about what your team is working on
or planning. Arcamens has a powerful event system it allows 
managers to easily keep track of what employees are doing and 
how them are doing as well giving feedback quickly.  Every worker action 
generates an event, such events can be commented out by you. 
It makes all kind of worker's actions to be criticized in an organized
manner thus improving your workers's performance and work quality.
It implements notification using web pushes which allows you to always
be aware of what is going on.
</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">
<h1> Mobile </h1>
<div style="color:grey;"> 
Arcamens UI was carefully designed to be intuitive and highly flexible
it works seamlessly over mobiles with subtle differences. 
<p>
</p>


</div>
</div>

</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>Organizations</h1>
<div style="color:grey;"> 

<p>
Arcamens allows multiple organizations attached to a given account. You can have
as many organizations as you want regardless of the plan you pay for. You can easily
integrate all your business's branches effortlessly.
</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">

<h1>Software Development</h1>
<div style="color:grey;"> 

<p> Arcamens integrates with Bitbucket and Github, you can relate cards and
commits easily. </p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>Workspaces</h1>
<div style="color:grey;"> 

<p> Workers have their own workspace in the organization. A worker can create as many boards/groups
as necessary and share content easily with a concrete strategy for avoiding security leaks.</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">

<h1>Powerful Searches</h1>
<div style="color:grey;"> 

<p> Information is useful only when it can be easily found.
Arcamens has with no doubt the most powerful search mechanism. It is possible
to search for cards/posts based on notes, snippets, owner, workers, attachments, created time
using a fancy and flexible pattern filtering language. </p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>Workspaces</h1>
<div style="color:grey;"> 

<p> Workers have their own workspace in the organization. A worker can create as many boards/groups
as necessary and share content easily with a concrete strategy for avoiding security leaks.</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-left">

<h1>About us</h1>
<div style="color:grey;"> 

<p> We are a small startup whose UI/UX values are
targeted to building simple and flexible softwares. Simplicity
takes one of its best role to help increasing people productivity.
We also believe in the open source technology 
<br>
<a href="/static/site_app/on-github.html">On Github</a>

</p>

</div>
</div>
</div>

<div class="row ">
<div class="col-md-6 text-right col-md-offset-6">

<h1>Pricing</h1>
<div style="color:grey;"> 

<p> Arcamens has the best cost/benefit $4.27/user. 
Storage 5GB/user paid plans, 300MB free plans up to 3 members. </p>

</div>
</div>
</div>


</div>









