{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-credit-card"></span> Payment Settings </h4>

</div>
<div class="modal-body">

<div class="pre-scrollable">
{% for ind in payments %}

{% empty %}
<p> No payments. </p>
{% endfor %}

</div>

<p> <b> Total users: {{n_users}}</b> </p>

<p> <b> Expiration: {{expiration}}</b></p>
<p> <b> Cash: {{cash}} </b> </p>

<a class="s-modal" data-show="{% url 'site_app:paypal-manual-payment' %}" href="#"> Paypal</a>
<a class="s-modal" data-show="{% url 'site_app:custom-payment' %}" href="#"> Custom Payment</a>

</div>


