{% load bootstrap3 %}
{% load i18n %}
{% load bname %}

<script>
$('#SnippetFileWrapperForm-{{snippet.id}}').change(function(){
   var formData = new FormData($('#SnippetFileWrapperForm-{{snippet.id}}')[0]);
   $.ajax({
   url: '{% url 'snippet_app:attach-file' snippet.id  %}', 
   type: 'POST',
   success: function(data) {
   $('#snippet-attachments-{{snippet.id}}').html(data);},
   data: formData,
   cache: false,
   contentType: false,
   processData: false});
});

</script>


<form id="SnippetFileWrapperForm-{{snippet.id}}" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.file  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<div class="panel panel-default" >
<div class="panel-body">
{% for ind in attachments %}
<a class="e-get text-danger" data-shell="#snippet-attachments-{{snippet.id}}" href="#"
data-show="{% url 'snippet_app:detach-file' ind.id %}"> 
<span class="glyphicon glyphicon-remove"></span></a> 
<a href="{% url 'snippet_app:snippet-file-download' ind.id %}" target="_blank"> {{ind.file.name|bname}} </a>

{% empty %}
No attachments.
{% endfor %}
</div>
</div>












