{% load bootstrap3 %}
{% load i18n %}

<form id="form-snippet-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% bootstrap_field form.title  size='md' %}
</div>

<div class="modal-body">

{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

</div>
</form>


<div class="modal-footer">
<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
})

</script>

{% block buttons %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  type="button" data-form="#form-snippet-data" 
data-shell="#post-{{post.id}}"  data-show="{% url 'snippet_app:create-snippet' post.id %}"
class="btn btn-default e-post"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>
















