{% load bootstrap3 %}
{% load i18n %}

<form id="form-snippet-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
{% bootstrap_field form.title  size='md' %}
</div>

<div class="modal-body">

{% csrf_token %}

{% bootstrap_field form.data  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}


<div id="div-snippet-attachments">
</div>
<script>

$('#div-snippet-attachments').load("{% url 'snippet_app:attach-file' snippet.id %}");
</script>


</div>
</form>


<div class="modal-footer">
<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' post.id  %}');
})

</script>

{% block buttons %}
<button  type="button" 
data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'snippet_app:cancel-snippet-creation' snippet.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#form-snippet-data" 
data-shell="#main-view" data-callback="$('#bigModal').modal('toggle');" 
data-shell-error="#bigModalContent" data-show="{% url 'snippet_app:create-snippet' post.id snippet.id %}"
class="btn btn-default e-post"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>













