{% extends 'group_app/event.html' %}
{% load i18n %}
{% load bname %}

{% block content %}
File <a href="{% url 'snippet_app:snippet-file-download' event.filewrapper.id %}" target="_blank"> {{event.filewrapper.file.name|bname}} </a> attached to snippet

<a class="e-get"
data-shell="#bigModalContent" 
data-show="{% url 'snippet_app:snippet' event.snippet.id %}" href="{{event.snippet.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.snippet.title}} </a>

{% endblock %}





