{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.description}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has created snippet 

<a class="e-get"
data-shell="#bigModalContent" 
data-show="{% url 'snippet_app:snippet' event.snippet.id %}" href="{{event.snippet.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.snippet.title}} </a>

on

<a class="e-get"
data-shell="#bigModalContent"
data-show="{% url 'post_app:view-data' event.child.id %}" 
href="{{ event.child.get_link_url }}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.child.label|truncatechars:40}} </a> 

{% endblock %}


