{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
Snippet <span style="color:red">
<span class="glyphicon glyphicon-book"></span>
{{event.snippet | truncatechars:30}}
</span> was deleted on

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.child.id %}" 
href="{{event.child.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.child.label|truncatechars:40}} </a> 

{% endblock %}



