{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
File <span class="text-danger"> 
<span class="glyphicon glyphicon-file"></span> {{event.filename}}</span> dettached from snippet

<a class="e-get"
data-shell="#bigModalContent" 
data-show="{% url 'snippet_app:snippet' event.snippet.id %}" href="{{event.snippet.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.snippet.title}} </a>

{% endblock %}





