{% extends 'group_app/event.html' %}
{% load i18n %}

{% block content %}
<a class="e-get"
data-shell="#bigModalContent" 
data-show="{% url 'snippet_app:snippet' event.snippet.id %}" href="{{event.snippet.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.snippet.title}} </a> was updated on

<a class="e-get"
data-shell="#main-view"
data-show="{% url 'post_app:post' event.child.id %}" 
href="{{ event.child.get_link_url }}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.child.label|truncatechars:40}} </a> 

{% endblock %}


































