{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-book"></span> 
snippet by {{snippet.owner.name}} at {{snippet.created}}

</div>

<div class="modal-body">
<div style="word-wrap: break-word;"> 

<h4> {{snippet.title}} </h4>

{{snippet.html | safe}}

</div>

<div  style="font-size:80%">
{% for ind in snippet.snippetfilewrapper_set.all %}
<a href="#">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} 
</a>
{% empty %}
No attachments...

{% endfor %}
</div>

</div>

<div class="modal-footer">
<button  type="button" 
data-show="{% url 'snippet_app:update-snippet' snippet.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Update" %} </button>

<button  type="button" 
data-show="{% url 'snippet_app:delete-snippet' snippet.id %}"
data-callback="$('#bigModal').modal('toggle');" 
data-shell="#main-view" 
class="btn btn-default e-get"> {% trans "Remove" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>

<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#main-view').load('{% url 'card_app:view-data' card.id  %}');
})
</script>




