{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-book"></span> 
Snippet  by <a href="#" data-toggle="popover" data-trigger="hover" title="{{snippet.owner.email}}"  data-content="{{snippet.owner.description}}">
{{snippet.owner.name}} </a> on post
<a  href="#" data-shell="#bigModalContent"  data-show="{% url 'post_app:view-data' post.id %}"
class="e-get"> <span class="glyphicon glyphicon-file"></span> {{post.label|truncatechars:60}} </a>

</div>

<div class="modal-body">

{{snippet.title}} 
{{snippet.html | safe}}

<div  style="font-size:80%">
<div id="snippet-attachments-{{snippet.id}}" style="min-height:52px;"> </div>

<script> 
$.get({ 
url: "{% url 'snippet_app:attach-file' snippet.id %}",
async: true},

function(data) {
    $('#snippet-attachments-{{snippet.id}}').html(data);
});

</script>

</div>

On <a href="{{snippet.get_link_url}}" target="_blank"> {{snippet.created}}</a>

</div>

<div class="modal-footer">
<button  type="button" 
data-show="{% url 'snippet_app:update-snippet' snippet.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Update" %} </button>

<button  type="button" data-show="{% url 'snippet_app:delete-snippet' snippet.id %}"
data-shell="#bigModalContent" class="btn btn-default e-get"> {% trans "Remove" %} </button>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>

</div>


