{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-book"></span> 
Snippet by {{snippet.owner.name}}  on post
<a  href="{{post.get_link_url}}" data-shell="#main-view"  data-show="{% url 'post_app:post' post.id %}"
class="e-get"> <span class="glyphicon glyphicon-file"></span> {{post.label|truncatechars:60}} </a>

</div>

<div class="modal-body">

{{snippet.title}} 

{{snippet.html | safe}}

<div  style="font-size:80%">
<div id="snippet-attachments-{{snippet.id}}" style="min-height:52px;"> </div>

<script> 
$.get({ 
url: "{% url 'snippet_app:attach-file' snippet.id %}",
async: true},

function(data) {
    $('#snippet-attachments-{{snippet.id}}').html(data);
});

</script>

</div>
On <a href="{{snippet.get_link_url}}" target="_blank"> {{snippet.created}}</a>
</div>

<div class="modal-footer">
<button  type="button" 
data-show="{% url 'snippet_app:update-snippet' snippet.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Update" %} </button>

<button  type="button" data-show="{% url 'snippet_app:delete-snippet' snippet.id %}"
data-shell="#post-{{post.id}}" 
class="btn btn-default e-get"> {% trans "Remove" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>

<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' snippet.post.id  %}');
})
</script>



















