{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-book"></span> 
Snippet by {{snippet.owner.name}} at {{snippet.created}}

</div>

<div class="modal-body">
<div style="word-wrap: break-word;"> 

<h4> {{snippet.title}} </h4>

{{snippet.html | safe}}

</div>

<div  style="font-size:80%">
<div id="snippet-attachments-{{snippet.id}}"> </div>
<script> $('#snippet-attachments-{{snippet.id}}').load("{% url 'snippet_app:attach-file' snippet.id %}"); </script>

</div>

</div>

<div class="modal-footer">
<button  type="button" 
data-show="{% url 'snippet_app:update-snippet' snippet.id %}"
data-shell="#bigModalContent" 
class="btn btn-default e-get"> {% trans "Update" %} </button>

<button  type="button" data-show="{% url 'snippet_app:delete-snippet' snippet.id %}"
data-callback="$('#bigModal').modal('toggle');" 
data-shell="#post-{{post.id}}" 
class="btn btn-default e-get"> {% trans "Remove" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>

<script>
$('#bigModal').one('hidden.bs.modal', function () {
    $('#post-{{post.id}}').load('{% url 'post_app:refresh-post' snippet.post.id  %}');
})
</script>










